Repository TencentBlueKing/bk-bcs, pull requests merged in 2019-11, with the labels that each got.

#256 fix: template fix, issue #242
  bcs-mesos/bcs-process-daemon/main.go
  install/conf/bcs-mesos-master/bmsf-mesos-adapter/bmsf-mesos-adapter.json.template
  install/conf/bcs-mesos-node/bcs-metriccollector/bcs-metricollector.json.template
  install/conf/bcs-mesos-node/bcs-process-daemon/bcs-process-daemon.config.template
  install/conf/bcs-mesos-node/bcs-process-daemon/bcs-process-daemon.json.template
  install/conf/bcs-services/bcs-api/bcs-api.json.template
  install/conf/bcs-services/bcs-exporter/bcs-exporter.json.template
  install/conf/bcs-services/bcs-health-master/bcs-health-master.json.template
  install/conf/bcs-services/bcs-health-slave/bcs-health-slave.json.template
  install/conf/bcs-services/bcs-metricservice/bcs-metricservice.json.template
  install/conf/bcs-services/bcs-netservice/bcs-netservice.json.template
  install/conf/bcs-services/bcs-service-prometheus-service/bcs-service-prometheus.json.template
  install/conf/bcs-services/bcs-storage/bcs-storage.json.template
Labels: confirmed, document, feature, inner

#252 feature: bcs-dns support kube-apiserver(etcd) as the origin data stor…
  bcs-common/common/signals/signal.go
  bcs-common/common/signals/signal_posix.go
  bcs-common/common/signals/signal_windows.go
  bcs-k8s/bcs-k8s-custom-scheduler/pkg/ipscheduler/ipscheduler.go
  bcs-mesos/bcs-hpacontroller/app/app.go
  bcs-mesos/bcs-hpacontroller/app/options/options.go
  bcs-mesos/bcs-hpacontroller/hpacontroller/config/config.go
  bcs-mesos/bcs-hpacontroller/hpacontroller/reflector/etcd.go
  bcs-services/bcs-dns/plugin/bcsscheduler/controller/etcdController.go
  bcs-services/bcs-dns/plugin/bcsscheduler/controller/interface.go
  bcs-services/bcs-dns/plugin/bcsscheduler/controller/zkController.go
  bcs-services/bcs-dns/plugin/bcsscheduler/events.go
  bcs-services/bcs-dns/plugin/bcsscheduler/handler.go
  bcs-services/bcs-dns/plugin/bcsscheduler/metrics/metrics.go
  bcs-services/bcs-dns/plugin/bcsscheduler/scheduler.go
  bcs-services/bcs-dns/plugin/bcsscheduler/setup.go
  bcs-services/bcs-dns/plugin/bcsscheduler/util/cache.go
Labels: confirmed, enhancement, feature, inner, service

#265 1.15.x admissionwebhook支持namespace selector特性
  bcs-common/common/types/admission-webhook.go
  bcs-mesos/bcs-mesos-driver/mesosdriver/filter/admission-webhook.go
  bcs-mesos/bcs-scheduler/src/manager/store/etcd/endpoint.go
  docs/features/bcs-mesos-driver/driver-implement.md
  docs/features/log-controller/img/bcs容器日志方案.png
  docs/features/log-controller/img/lb容器日志.png
  docs/features/log-controller/img/容器日志env.png
  docs/features/log-controller/img/文本日志宿主机目录.png
  docs/features/log-controller/log-controller.md
Labels: confirmed, enhancement, inner, service

#262 add bcs-k8s-csi-tencentcloud
  Gopkg.lock
  Gopkg.toml
  Makefile
  bcs-k8s/bcs-k8s-csi-tencentcloud/README.md
  bcs-k8s/bcs-k8s-csi-tencentcloud/cmd/cbs/main.go
  bcs-k8s/bcs-k8s-csi-tencentcloud/driver/cbs/controller.go
  bcs-k8s/bcs-k8s-csi-tencentcloud/driver/cbs/driver.go
  bcs-k8s/bcs-k8s-csi-tencentcloud/driver/cbs/identity.go
  bcs-k8s/bcs-k8s-csi-tencentcloud/driver/cbs/node.go
  install/conf/bcs-k8s-master/bcs-k8s-csi-tencentcloud/csi-cbsplugin-controller.yaml.template
  install/conf/bcs-k8s-master/bcs-k8s-csi-tencentcloud/csi-cbsplugin-node.yaml.template
  install/conf/bcs-k8s-master/bcs-k8s-csi-tencentcloud/csi-cbsplugin-rbac.yaml
  install/images/bcs-k8s-master/bcs-k8s-csi-tencentcloud/Dockerfile
  vendor/github.com/container-storage-interface/spec/LICENSE
  vendor/github.com/container-storage-interface/spec/lib/go/csi/v0/csi.pb.go
  vendor/github.com/dbdd4us/qcloudapi-sdk-go/LICENSE
  vendor/github.com/dbdd4us/qcloudapi-sdk-go/metadata/client.go
  vendor/github.com/dbdd4us/qcloudapi-sdk-go/util/attempt.go
  vendor/github.com/golang/protobuf/ptypes/wrappers/wrappers.pb.go
  vendor/github.com/golang/protobuf/ptypes/wrappers/wrappers.proto
  vendor/github.com/tencentcloud/tencentcloud-sdk-go/tencentcloud/cbs/v20170312/client.go
  vendor/github.com/tencentcloud/tencentcloud-sdk-go/tencentcloud/cbs/v20170312/models.go
  vendor/k8s.io/kubernetes/pkg/util/mount/BUILD
  vendor/k8s.io/kubernetes/pkg/util/mount/OWNERS
  vendor/k8s.io/kubernetes/pkg/util/mount/doc.go
  vendor/k8s.io/kubernetes/pkg/util/mount/exec.go
  vendor/k8s.io/kubernetes/pkg/util/mount/fake.go
  vendor/k8s.io/kubernetes/pkg/util/mount/mount.go
  vendor/k8s.io/kubernetes/pkg/util/mount/mount_helper_common.go
  vendor/k8s.io/kubernetes/pkg/util/mount/mount_helper_unix.go
  vendor/k8s.io/kubernetes/pkg/util/mount/mount_helper_windows.go
  vendor/k8s.io/kubernetes/pkg/util/mount/mount_linux.go
  vendor/k8s.io/kubernetes/pkg/util/mount/mount_unsupported.go
  vendor/k8s.io/kubernetes/pkg/util/mount/mount_windows.go
  vendor/k8s.io/utils/exec/doc.go
  vendor/k8s.io/utils/exec/exec.go
  vendor/k8s.io/utils/io/read.go
  vendor/k8s.io/utils/keymutex/hashed.go
  vendor/k8s.io/utils/keymutex/keymutex.go
  vendor/k8s.io/utils/path/file.go
Labels: confirmed, feature, inner, service

#263 bcs-loadbalance调整后端刷新机制
  Gopkg.lock
  Gopkg.toml
  bcs-services/bcs-loadbalance/app/eventprocessor.go
  bcs-services/bcs-loadbalance/app/reflector.go
  bcs-services/bcs-loadbalance/image/config/haproxy.cfg.template
  bcs-services/bcs-loadbalance/option/option.go
  bcs-services/bcs-loadbalance/template/haproxy/exporter.go
  bcs-services/bcs-loadbalance/template/haproxy/haproxy.go
  bcs-services/bcs-loadbalance/template/haproxy/haproxy_test.go
  bcs-services/bcs-loadbalance/template/haproxy/runtime_client.go
  bcs-services/bcs-loadbalance/template/haproxy/status.go
  bcs-services/bcs-loadbalance/template/haproxy/test/haproxy.test1.cfg
  bcs-services/bcs-loadbalance/template/haproxy/types.go
  bcs-services/bcs-loadbalance/template/manager.go
  bcs-services/bcs-loadbalance/template/nginx/nginx.go
  bcs-services/bcs-loadbalance/types/constant.go
  bcs-services/bcs-netservice/bcs-ipam/resource/netdriver/net_driver.go
Labels: confirmed, enhancement, inner, service

#274 Dev mars
  bcs-services/bcs-netservice/pkg/netservice/client.go
  bmsf-mesh/bmsf-mesos-adapter/discovery/bcs/taskgroup.go
  bmsf-mesh/bmsf-mesos-adapter/pkg/util/str/string.go
Labels: bug, confirmed, inner, service
