Repository TencentBlueKing/bk-bcs, pull requests merged in 2019-09, with the labels that each got.

#174 1.14.2版本发布
  bcs-common/common/blog/blog.go
  bcs-common/common/types/clusterkeeper.go
  bcs-k8s/bcs-k8s-watch/app/output/http/client.go
  bcs-mesos/bcs-mesos-watch/cluster/mesos/metric.go
  bcs-mesos/bcs-mesos-watch/storage/configmap.go
  bcs-mesos/bcs-mesos-watch/storage/secret.go
  bcs-mesos/bcs-mesos-watch/storage/service.go
  bcs-mesos/bcs-process-daemon/main.go
  bcs-mesos/bcs-process-daemon/process-daemon/api/api.go
  bcs-mesos/bcs-process-executor/process-executor/executor/executor.go
  bcs-mesos/bcs-scheduler/src/manager/sched/backend/agent_setting.go
  bcs-mesos/bcs-scheduler/src/manager/sched/task/task.go
  bcs-services/bcs-client/cmd/deployment/cancel.go
  bcs-services/bcs-client/cmd/deployment/pause.go
  bcs-services/bcs-client/cmd/deployment/resume.go
  bcs-services/bcs-loadbalance/app/reflector.go
  bcs-services/bcs-metriccollector/app/config/config.go
  bcs-services/bcs-metricservice/app/config/config.go
  bcs-services/bcs-netservice/api/pool.go
  bcs-services/bcs-netservice/bcs-ipam/resource/localdriver/local_driver.go
  bcs-services/bcs-netservice/netservice/allocatorService.go
  docs/version/1.14.x.md
Labels: confirmed, inner

#180 1.14.x - bcs mesos支持跨云管理的方案
  bcs-common/common/conf/types.go
  bcs-common/common/types/serverInfo.go
  bcs-mesos/bcs-container-executor/executor/executor.go
  bcs-mesos/bcs-container-executor/executor/metrics.go
  bcs-mesos/bcs-mesos-driver/app/options/options.go
  bcs-mesos/bcs-mesos-driver/mesosdriver/config/config.go
  bcs-mesos/bcs-mesos-driver/mesosdriver/mesosdriver.go
  bcs-mesos/bcs-mesos-watch/app/options.go
  bcs-mesos/bcs-mesos-watch/app/watch.go
  bcs-mesos/bcs-mesos-watch/main.go
  bcs-mesos/bcs-mesos-watch/types/types.go
  bcs-services/bcs-api/processor/http/actions/v4http/mesos/mesos-actions.go
  bcs-services/bcs-storage/storage/rdiscover/rdiscover.go
  docs/features/prometheus/bcs-sulotion.md
Labels: confirmed, document, inner, service

#194 fix: close iter cursor in mongodb server, issue #193
  bcs-services/bcs-storage/storage/drivers/mongodb/watch.go
Labels: bug, confirmed, inner, service

#197 add tencent opensource license for bcs-k8s-custom-scheduler
  bcs-k8s/bcs-k8s-custom-scheduler/app/app.go
  bcs-k8s/bcs-k8s-custom-scheduler/app/custom-scheduler/custom-scheduler.go
  bcs-k8s/bcs-k8s-custom-scheduler/pkg/ipscheduler/netsvc.go
Labels: confirmed, enhancement, inner

#190 fix: 修复scheduler启动metrics功能出现的panic问题; issue: #189
  bcs-mesos/bcs-mesos-driver/mesosdriver/backend/v4http/crd.go
  bcs-mesos/bcs-mesos-driver/mesosdriver/backend/v4http/scheduler-api.go
  bcs-mesos/bcs-scheduler/src/manager/sched/api/api.go
  bcs-mesos/bcs-scheduler/src/manager/sched/api/routes.go
  bcs-mesos/bcs-scheduler/src/manager/sched/backend/crd.go
  bcs-mesos/bcs-scheduler/src/manager/sched/backend/interface.go
  bcs-mesos/bcs-scheduler/src/manager/sched/scheduler/scheduler.go
  bcs-mesos/bcs-scheduler/src/manager/store/crd.go
  bcs-mesos/bcs-scheduler/src/manager/store/interface.go
  bcs-mesos/bcs-scheduler/src/manager/store/store.go
Labels: bug, confirmed, inner, scheduler

#199 feature: add label of loadbalance name into metric; split zookeeper event metric into three different metric; issue #161
  bcs-common/common/types/clusterkeeper.go
  bcs-services/bcs-loadbalance/app/eventprocessor.go
  bcs-services/bcs-loadbalance/app/metric.go
  bcs-services/bcs-loadbalance/app/reflector.go
  bcs-services/bcs-loadbalance/option/option.go
  bcs-services/bcs-loadbalance/template/haproxy/exporter.go
  bcs-services/bcs-loadbalance/template/haproxy/haproxy.go
  bcs-services/bcs-loadbalance/types/constant.go
Labels: bug, confirmed, enhancement, inner, service

#203 1.14.x - 优化重新调度taskgroup异常后的相关信息展示
  bcs-mesos/bcs-scheduler/src/manager/sched/scheduler/trans_reschedule.go
Labels: confirmed, enhancement, inner, scheduler

#206 storage metrics数据优化
  README.md
  bcs-common/common/types/clusterkeeper.go
  bcs-services/bcs-storage/storage/actions/lib/metrics.go
  bcs-services/bcs-storage/storage/actions/lib/process.go
Labels: confirmed, discussion, document, inner, service

#204 update cidr manager for tke
  bcs-k8s/bcs-k8s-custom-scheduler/pkg/actions/bind/bind.go
  bcs-services/bcs-api/pkg/models/tke.go
  bcs-services/bcs-api/pkg/server/resthdrs/tke.go
  bcs-services/bcs-api/pkg/storages/sqlstore/tke.go
  bcs-services/bcs-metricservice/app/config/config.go
Labels: confirmed, feature, inner, service

#211 1.14.3文档合入
  docs/version/1.14.x.md
Labels: confirmed, document, inner

#217 发布包方式调试
  Makefile
  install/cmd/conf/bcs-api/bcs-api.json.template
  install/cmd/conf/bcs-check/bcs-check.json.template
  install/cmd/conf/bcs-dns/bcs-dns.json.template
  install/cmd/conf/bcs-exporter/bcs-exporter.json.template
  install/cmd/conf/bcs-health-master/bcs-health-master.json.template
  install/cmd/conf/bcs-health-slave/bcs-health-slave.json.template
  install/cmd/conf/bcs-hpacontroller/bcs-hpacontroller.json.template
  install/cmd/conf/bcs-mesos-driver/bcs-mesos-driver.json.template
  install/cmd/conf/bcs-mesos-watch/bcs-mesos-watch.json.template
  install/cmd/conf/bcs-metricservice/bcs-metricservice.json.template
  install/cmd/conf/bcs-netservice/bcs-netservice.json.template
  install/cmd/conf/bcs-scheduler/bcs-scheduler.json.template
  install/cmd/conf/bcs-service-prometheus/bcs-service-prometheus.json.template
  install/cmd/conf/bcs-storage/bcs-storage.json.template
  install/cmd/conf/bmsf-mesos-adapter/bmsf-mesos-adaptor.json.template
Labels: confirmed, document, inner
