Repository TencentBlueKing/bk-bcs, pull requests merged in 2020-06, with the labels that each got.

#484 fix: fix datawatch sync underlay resource timeout, issue #483
  bcs-mesos/bcs-mesos-watch/cluster/etcd/app.go
  bcs-mesos/bcs-mesos-watch/cluster/etcd/netservice.go
  bcs-mesos/bcs-mesos-watch/cluster/etcd/taskgroup.go
Labels: bug, inner, network, service

#487 docs: release 1.17.3-beta, issue #0
  docs/version/1.17.x.md
Labels: confirmed, document, inner

#477 add bcs-bkcmdb-synchronizer
  Makefile
  bcs-common/common/http/httpclient/client.go
  bcs-common/common/types/serverInfo.go
  bcs-common/pkg/esb/apigateway/paascc/paascc.go
  bcs-common/pkg/esb/apigateway/paascc/types.go
  bcs-common/pkg/esb/client/client.go
  bcs-common/pkg/esb/client/request.go
  bcs-common/pkg/esb/cmdbv3/cmdb.go
  bcs-common/pkg/esb/cmdbv3/mapstr.go
  bcs-common/pkg/esb/cmdbv3/toposervertypes.go
  bcs-common/pkg/esb/cmdbv3/types.go
  bcs-common/pkg/throttle/throttle.go
  bcs-services/bcs-bkcmdb-synchronizer/common/cluster.go
  bcs-services/bcs-bkcmdb-synchronizer/common/constant.go
  bcs-services/bcs-bkcmdb-synchronizer/common/k8s.go
  bcs-services/bcs-bkcmdb-synchronizer/common/k8s_test.go
  bcs-services/bcs-bkcmdb-synchronizer/common/mesos.go
  bcs-services/bcs-bkcmdb-synchronizer/common/mesos_test.go
  bcs-services/bcs-bkcmdb-synchronizer/common/pod.go
  bcs-services/bcs-bkcmdb-synchronizer/common/storage.go
  bcs-services/bcs-bkcmdb-synchronizer/config/config.go
  bcs-services/bcs-bkcmdb-synchronizer/controller/controller.go
  bcs-services/bcs-bkcmdb-synchronizer/discovery/registerdiscovery.go
  bcs-services/bcs-bkcmdb-synchronizer/main.go
  bcs-services/bcs-bkcmdb-synchronizer/reconciler/reconciler.go
  bcs-services/bcs-bkcmdb-synchronizer/reconciler/sender.go
  bcs-services/bcs-bkcmdb-synchronizer/storage/storage.go
  bcs-services/bcs-bkcmdb-synchronizer/taskinformer/taskinformer.go
  bcs-services/bcs-bkcmdb-synchronizer/taskmanager/manager.go
  bcs-services/bcs-loadbalance/app/eventprocessor.go
  bcs-services/bcs-loadbalance/app/metric.go
  bcs-services/bcs-loadbalance/app/reflector.go
  bcs-services/bcs-loadbalance/template/haproxy/haproxy.go
  bcs-services/bcs-network/bcs-cloudnetwork/bcs-eni-cni/eni/eni.go
  bcs-services/bcs-network/bcs-cloudnetwork/cloud-network-agent/controller/controller.go
  bcs-services/bcs-network/bcs-cloudnetwork/cloud-network-agent/server/server.go
  bcs-services/bcs-network/bcs-cloudnetwork/pkg/eni/aws/awseni.go
  bcs-services/bcs-network/bcs-cloudnetwork/pkg/eni/aws/awseni_imp.go
  bcs-services/bcs-network/bcs-cloudnetwork/pkg/networkutil/networkutil.go
  bmsf-mesh/bmsf-mesos-adapter/app/app.go
  bmsf-mesh/bmsf-mesos-adapter/discovery/bcs/service.go
  bmsf-mesh/bmsf-mesos-adapter/discovery/bcs/taskgroup.go
  bmsf-mesh/bmsf-mesos-adapter/rdiscover/rdiscover.go
  docs/features/bcs-bkcmdb-synchronizer/bcs-bkcmdb-synchronizer.drawio
  docs/features/bcs-bkcmdb-synchronizer/bcs-bkcmdb-synchronizer.png
  docs/features/bcs-bkcmdb-synchronizer/bkcmdb数据同步方案.md
  install/conf/bcs-services/bcs-bkcmdb-synchronizer/bcs-bkcmdb-synchronizer.json.template
Labels: confirmed, feature, inner, k8s, mesos, service

#492 fix: fix bug that bmsf-mesos-adapter lost master discovery event when…
  bmsf-mesh/bmsf-mesos-adapter/app/app.go
  bmsf-mesh/bmsf-mesos-adapter/discovery/bcs/service.go
  bmsf-mesh/bmsf-mesos-adapter/discovery/bcs/taskgroup.go
  bmsf-mesh/bmsf-mesos-adapter/rdiscover/rdiscover.go
Labels: bug, confirmed, inner, service

#497 add bcs-cc-agent，and fix two bugs
  Makefile
  bcs-k8s/bcs-cc-agent/app/app.go
  bcs-k8s/bcs-cc-agent/app/cmdb.go
  bcs-k8s/bcs-cc-agent/app/k8s.go
  bcs-k8s/bcs-cc-agent/app/mesos.go
  bcs-k8s/bcs-cc-agent/app/node-info.go
  bcs-k8s/bcs-cc-agent/config/config.go
  bcs-k8s/bcs-cc-agent/main.go
  bcs-k8s/bcs-cc-agent/options/options.go
  bcs-k8s/bcs-k8s-watch/app/k8s/synchronizer.go
  bcs-services/bcs-webhook-server/pkg/inject/k8s/db_priv_conf.go
  install/conf/bcs-k8s-master/bcs-cc-agent/Dockerfile
  install/conf/bcs-k8s-master/bcs-cc-agent/bcs-cc-agent.yaml.template
Labels: bug, confirmed, feature, inner, k8s

#500 feature: support tencent cloud in bcs-cloudnetwork-agent; issue #499
  bcs-services/bcs-network/bcs-cloudnetwork/cloud-network-agent/server/server.go
  bcs-services/bcs-network/bcs-cloudnetwork/pkg/apis/cloud/v1/nodenetwork_types.go
  bcs-services/bcs-network/bcs-cloudnetwork/pkg/eni/aws/awseni.go
  bcs-services/bcs-network/bcs-cloudnetwork/pkg/eni/aws/awseni_imp.go
  bcs-services/bcs-network/bcs-cloudnetwork/pkg/eni/qcloud/constant.go
  bcs-services/bcs-network/bcs-cloudnetwork/pkg/eni/qcloud/qcloudeni.go
  bcs-services/bcs-network/bcs-cloudnetwork/pkg/eni/qcloud/qcloudeni_imp.go
  bcs-services/bcs-network/bcs-cloudnetwork/pkg/eni/qcloud/util.go
Labels: confirmed, feature, inner, k8s, network

#505 fix: fix a bug that when bcs-kube-agent use websocket to register to …
  bcs-services/bcs-api/pkg/server/proxier/proxier.go
Labels: bug, confirmed, inner, k8s, service
