Repository TencentBlueKing/bk-bcs, pull requests merged in 2020-04, with the labels that each got.

#420 1.16.x
  bcs-services/bcs-webhook-server/pkg/inject/mesos_inject.go
  docs/features/mesos/基于mesos的服务编排.md
Labels: bug, confirmed, inner, service

#419 fix: fix the mesos deployment bscp inject; issue #366
  bcs-services/bcs-webhook-server/pkg/inject/mesos_inject.go
  docs/features/mesos/基于mesos的服务编排.md
Labels: confirmed, feature, inner, service

#428 1.16.x mesos支持污点调度机制
  bcs-common/common/types/constraint.go
  bcs-common/common/types/resource.go
  bcs-mesos/bcs-mesos-driver/mesosdriver/backend/v4http/scheduler-api.go
  bcs-mesos/bcs-scheduler/src/manager/sched/api/api.go
  bcs-mesos/bcs-scheduler/src/manager/sched/api/routes.go
  bcs-mesos/bcs-scheduler/src/manager/sched/backend/agent_setting.go
  bcs-mesos/bcs-scheduler/src/manager/sched/backend/interface.go
  bcs-mesos/bcs-scheduler/src/manager/sched/offer/offerpool.go
  bcs-mesos/bcs-scheduler/src/manager/sched/strategy/strategy.go
  bcs-mesos/bcs-scheduler/src/types/application.go
  bcs-services/bcs-logbeat-sidecar/sidecar/controller.go
  docs/apidoc/api-scheduler.md
  docs/templates/mesos-artifact/application.md
Labels: confirmed, feature, inner, mesos, scheduler

#431 1.16.x
  docs/version/1.16.x.md
Labels: confirmed, document, inner

#446 fix: fix a bug. issue #445
  bcs-services/bcs-api/pkg/server/proxier/proxier.go
  bcs-services/bcs-api/pkg/server/proxier/utils.go
Labels: bug, confirmed, inner

#450 docs: revise documents about links format. issue #443
  bmsf-configuration/README.md
Labels: confirmed, document, inner
