Repository TencentBlueKing/bk-bcs, pull requests merged in 2020-10, with the labels that each got.

#608 feature: add some esb fuction for cmdb issue #607
  bcs-common/pkg/esb/apigateway/paascc/paascc.go
  bcs-common/pkg/esb/apigateway/paascc/types.go
  bcs-common/pkg/esb/client/client.go
  bcs-common/pkg/esb/client/request.go
  bcs-common/pkg/esb/cmdbv1/cmdb.go
  bcs-common/pkg/esb/cmdbv1/esbtypes.go
  bcs-common/pkg/esb/cmdbv3/cmdb.go
  bcs-common/pkg/esb/cmdbv3/esb.go
  bcs-common/pkg/esb/cmdbv3/esbtypes.go
  bcs-common/pkg/esb/common/common.go
  bcs-common/pkg/reflector/reflector.go
  bcs-services/bcs-bkcmdb-synchronizer/common/k8s.go
  bcs-services/bcs-bkcmdb-synchronizer/storage/storage.go
Labels: confirmed, feature, inner, k8s, service

#610 fix: fix delete error in full sync function of reflector; issue #607
  bcs-common/pkg/esb/common/common.go
  bcs-common/pkg/mesosdriver/client.go
  bcs-common/pkg/reflector/reflector.go
  bcs-k8s/bcs-k8s-custom-scheduler/go.mod
  bcs-k8s/bcs-k8s-custom-scheduler/go.sum
  bcs-network/go.mod
  bcs-network/go.sum
  bcs-services/bcs-client/go.sum
Labels: confirmed, inner, service

#609 logbeat-sidecar 采用 /data下的目录采集容器内日志
  bcs-services/bcs-logbeat-sidecar/sidecar/controller.go
  bcs-services/bcs-logbeat-sidecar/sidecar/logconfig.go
Labels: confirmed, feature, k8s

#616 fix: image secret缺失导致容器创建失败 #615
  bcs-mesos/bcs-scheduler/src/manager/sched/scheduler/task_operate.go
  bcs-mesos/bcs-scheduler/src/manager/sched/task/task.go
Labels: bug, confirmed, inner, mesos, scheduler

#614 feature: portMapping supports GameStatefulSet; issue #613
  bcs-network/bcs-ingress-controller/ingresscontroller/gamestatefulsetfilter.go
  bcs-network/bcs-ingress-controller/internal/generator/mappingconverter.go
  bcs-network/bcs-ingress-controller/internal/generator/util.go
  bcs-network/go.mod
  bcs-network/go.sum
Labels: confirmed, inner, k8s, mesos, network

#620 fix: metrics上报集群资源统计问题 #618
  bcs-common/pkg/kubehelm/cmd.go
  bcs-mesos/bcs-scheduler/src/manager/sched/task/task.go
  bcs-mesos/bcs-scheduler/src/manager/store/etcd/store.go
  bcs-mesos/bcs-scheduler/src/manager/store/etcd/taskgroup.go
  bcs-mesos/bcs-scheduler/src/manager/store/zk/store.go
Labels: confirmed, inner, service

#622 feature: bcs-ingress-controller add more metrics; issue #621
  bcs-network/bcs-ingress-controller/ingresscontroller/endpointsfilter.go
  bcs-network/bcs-ingress-controller/ingresscontroller/ingress_controller.go
  bcs-network/bcs-ingress-controller/ingresscontroller/podfilter.go
  bcs-network/bcs-ingress-controller/ingresscontroller/servicefilter.go
  bcs-network/bcs-ingress-controller/ingresscontroller/statefulsetfilter.go
  bcs-network/bcs-ingress-controller/internal/cloud/tencentcloud/api.go
  bcs-network/bcs-ingress-controller/internal/cloud/tencentcloud/constant.go
  bcs-network/bcs-ingress-controller/internal/cloud/tencentcloud/sdk.go
  bcs-network/bcs-ingress-controller/internal/metrics/metrics.go
  bcs-network/bcs-ingress-controller/listenercontroller/listener_controller.go
  bcs-network/bcs-ingress-controller/listenercontroller/metrics.go
  docs/features/bcs-ingress-controller/deploy/helm/bcs-ingress-controller/templates/service.yaml
  docs/features/bcs-ingress-controller/deploy/helm/bcs-ingress-controller/templates/serviceaccount.yaml
  docs/features/bcs-ingress-controller/deploy/helm/bcs-ingress-controller/templates/servicemonitor.yaml
Labels: enhancement, inner, k8s, network

#619 fix: metrics上报集群资源统计问题 #618
  bcs-mesos/bcs-scheduler/src/manager/sched/task/task.go
  bcs-mesos/bcs-scheduler/src/manager/store/etcd/store.go
  bcs-mesos/bcs-scheduler/src/manager/store/etcd/taskgroup.go
  bcs-mesos/bcs-scheduler/src/manager/store/zk/store.go
Labels: bug, confirmed, inner, service

#623 fix: collecting containers' log whoes path is mounted from host fails
  bcs-services/bcs-logbeat-sidecar/sidecar/controller.go
Labels: bug, inner, service

#631 fix: 删除ServiceMonitor时，没有删除对应的config文件 #630
  bcs-mesos/bcs-scheduler/src/manager/sched/scheduler/service_mgr.go
  bcs-services/bcs-service-prometheus/controller/controller.go
Labels: bug, confirmed, inner, service

#626 1.19.x
  bcs-k8s/bcs-gamedeployment-operator/cmd/gamedeployment-operator/main.go
  bcs-k8s/bcs-gamedeployment-operator/pkg/apis/tkex/v1alpha1/types.go
  bcs-k8s/bcs-gamedeployment-operator/pkg/apis/tkex/v1alpha1/zz_generated.deepcopy.go
  bcs-k8s/bcs-gamedeployment-operator/pkg/controllers/game_deployment.go
  bcs-k8s/bcs-gamedeployment-operator/pkg/controllers/game_deployment_control.go
  bcs-k8s/bcs-gamedeployment-operator/pkg/controllers/game_deployment_status_updater.go
  bcs-k8s/bcs-gamedeployment-operator/pkg/controllers/game_deployment_status_updater_test.go
  bcs-k8s/bcs-gamedeployment-operator/pkg/scale/gamedeployment_scale_util.go
  bcs-k8s/bcs-gamedeployment-operator/pkg/update/gamedeployment_update.go
  bcs-k8s/bcs-gamedeployment-operator/pkg/update/gamedeployment_update_test.go
  bcs-k8s/bcs-gamedeployment-operator/pkg/util/canary.go
Labels: confirmed, feature, inner, scheduler

#634 etcd服务发现特性合入
  bcs-common/pkg/mesosdriver/client.go
  bcs-common/pkg/mesosdriver/config.go
  bcs-common/pkg/registry/cmd.go
  bcs-common/pkg/registry/etcd.go
  bcs-common/pkg/registry/registry.go
  bcs-mesos/bcs-mesos-driver/app/options/options.go
  bcs-mesos/bcs-mesos-driver/app/server.go
  bcs-mesos/bcs-mesos-driver/main.go
  bcs-mesos/bcs-mesos-driver/mesosdriver/config/config.go
  bcs-mesos/bcs-mesos-driver/mesosdriver/mesosdriver.go
  bcs-mesos/bcs-mesos-driver/mesosdriver/websocket.go
  bcs-mesos/bcs-mesos-watch/main.go
  bcs-mesos/bcs-mesos-watch/types/types.go
  bcs-services/bcs-client/cmd/create/meshcluster.go
  bcs-services/bcs-client/cmd/delete/meshcluster.go
  bcs-services/bcs-client/cmd/inspect/meshcluster.go
  bcs-services/bcs-client/go.sum
  bcs-services/bcs-client/pkg/meshmanager/interface.go
  bcs-services/bcs-gateway-discovery/app/adapter.go
  bcs-services/bcs-gateway-discovery/app/micro.go
  bcs-services/bcs-gateway-discovery/app/options.go
  bcs-services/bcs-gateway-discovery/app/server.go
  bcs-services/bcs-gateway-discovery/app/zookeeper.go
  bcs-services/bcs-gateway-discovery/discovery/interface.go
  bcs-services/bcs-gateway-discovery/discovery/micro.go
  bcs-services/bcs-log-manager/go.mod
  bcs-services/bcs-mesh-manager/main.go
  bcs-services/bcs-storage/app/options/options.go
  bcs-services/bcs-storage/storage/storage.go
  bcs-services/bcs-user-manager/main.go
  bcs-services/bcs-user-manager/options/options.go
  go.mod
  go.sum
  install/conf/bcs-mesos-master/bcs-mesos-driver/bcs-mesos-driver.json.template
  install/conf/bcs-services/bcs-storage/bcs-storage.json.template
  install/conf/bcs-services/bcs-user-manager/bcs-user-manager.json.template
Labels: confirmed, inner, service

#635 1.17.x
  bcs-k8s/bcs-kube-agent/app/agent.go
  bcs-k8s/bcs-kube-agent/app/report.go
  bcs-services/bcs-api/pkg/server/proxier/proxier.go
  bcs-services/bcs-api/pkg/server/proxier/websocket_dial.go
  bcs-services/bcs-api/processor/http/actions/v4http/k8s/k8s-actions.go
  bcs-services/bcs-api/processor/http/actions/v4http/mesos/mesos-actions.go
  bcs-services/bcs-api/processor/http/actions/v4http/utils/util.go
  bmsf-configuration/cmd/bscp-bcs-sidecar/service/puller.go
Labels: bug, confirmed, inner, service

#637 bcs-api兼容bkiamv2与v3版本
  bcs-services/bcs-api/options/options.go
  bcs-services/bcs-api/pkg/auth/auth.go
  bcs-services/bcs-api/pkg/auth/bcs.go
  bcs-services/bcs-api/pkg/component/auth.go
  bcs-services/bcs-api/pkg/component/base.go
  bcs-services/bcs-network-detection/app/app.go
  bcs-services/bcs-network-detection/network-detection/cc-client.go
  bcs-services/bcs-network-detection/network-detection/network-detection.go
  bcs-services/bcs-network-detection/types/types.go
  bcs-services/bcs-service-prometheus/app/app.go
  bcs-services/bcs-service-prometheus/app/options/options.go
  bcs-services/bcs-service-prometheus/config/config.go
  bcs-services/bcs-service-prometheus/controller/controller.go
  bcs-services/bcs-service-prometheus/discovery/bcs-discovery.go
  bcs-services/bcs-service-prometheus/discovery/interface.go
  bcs-services/bcs-service-prometheus/discovery/node-etcd-discovery.go
  bcs-services/bcs-service-prometheus/discovery/node-zk-discovery.go
  bcs-services/bcs-service-prometheus/discovery/service-monitor.go
  docs/version/1.18.x.md
  docs/version/1.19.x.md
  docs/version/README.md
  install/conf/bcs-services/bcs-api/bcs-api.json.template
  readme.md
  readme_en.md
Labels: confirmed, feature, inner, service

#639 Fea ingress ctrl metric
  bcs-common/pkg/esb/common/common.go
  bcs-network/bcs-cloud-netagent/internal/action/alloc.go
  bcs-network/bcs-cloud-netagent/internal/networkutil/utils_test.go
  bcs-network/bcs-cloud-netservice/internal/action/ip/allocate.go
  bcs-network/bcs-ingress-controller/ingresscontroller/endpointsfilter.go
  bcs-network/bcs-ingress-controller/ingresscontroller/ingress_controller.go
  bcs-network/bcs-ingress-controller/ingresscontroller/utils_test.go
  bcs-network/bcs-ingress-controller/internal/cloud/tencentcloud/api.go
  bcs-network/bcs-ingress-controller/internal/cloud/tencentcloud/clb.go
  bcs-network/bcs-ingress-controller/internal/cloud/tencentcloud/constant.go
  bcs-network/bcs-ingress-controller/internal/cloud/tencentcloud/helper.go
  bcs-network/bcs-ingress-controller/internal/cloud/tencentcloud/sdk.go
  bcs-network/bcs-ingress-controller/internal/cloud/tencentcloud/util.go
  bcs-network/bcs-ingress-controller/internal/cloud/tencentcloud/validate.go
  bcs-network/bcs-ingress-controller/internal/generator/conflict_test.go
  bcs-network/bcs-ingress-controller/internal/generator/ingressconverter.go
  bcs-network/bcs-ingress-controller/internal/generator/ingressconverter_test.go
  bcs-network/bcs-ingress-controller/internal/generator/mappingconverter.go
  bcs-network/bcs-ingress-controller/internal/generator/ruleconverter.go
  bcs-network/bcs-ingress-controller/internal/metrics/metrics.go
  bcs-network/bcs-ingress-controller/internal/worker/cache_test.go
  bcs-network/bcs-ingress-controller/internal/worker/event_test.go
  bcs-network/bcs-ingress-controller/internal/worker/synchronizer_test.go
  bcs-network/bcs-ingress-controller/listenercontroller/metrics.go
  install/conf/bcs-network/bcs-ingress-controller/container-start.sh
Labels: confirmed, feature, inner, network, service

#640 Fea ingress ctrl metric
  bcs-common/pkg/esb/common/common.go
  bcs-network/bcs-cloud-netagent/internal/action/alloc.go
  bcs-network/bcs-cloud-netagent/internal/networkutil/utils_test.go
  bcs-network/bcs-cloud-netservice/internal/action/ip/allocate.go
  bcs-network/bcs-ingress-controller/ingresscontroller/endpointsfilter.go
  bcs-network/bcs-ingress-controller/ingresscontroller/ingress_controller.go
  bcs-network/bcs-ingress-controller/ingresscontroller/utils_test.go
  bcs-network/bcs-ingress-controller/internal/cloud/tencentcloud/api.go
  bcs-network/bcs-ingress-controller/internal/cloud/tencentcloud/clb.go
  bcs-network/bcs-ingress-controller/internal/cloud/tencentcloud/constant.go
  bcs-network/bcs-ingress-controller/internal/cloud/tencentcloud/helper.go
  bcs-network/bcs-ingress-controller/internal/cloud/tencentcloud/sdk.go
  bcs-network/bcs-ingress-controller/internal/cloud/tencentcloud/util.go
  bcs-network/bcs-ingress-controller/internal/cloud/tencentcloud/validate.go
  bcs-network/bcs-ingress-controller/internal/generator/conflict_test.go
  bcs-network/bcs-ingress-controller/internal/generator/ingressconverter.go
  bcs-network/bcs-ingress-controller/internal/generator/ingressconverter_test.go
  bcs-network/bcs-ingress-controller/internal/generator/mappingconverter.go
  bcs-network/bcs-ingress-controller/internal/generator/ruleconverter.go
  bcs-network/bcs-ingress-controller/internal/metrics/metrics.go
  bcs-network/bcs-ingress-controller/internal/worker/cache_test.go
  bcs-network/bcs-ingress-controller/internal/worker/event_test.go
  bcs-network/bcs-ingress-controller/internal/worker/synchronizer_test.go
  bcs-network/bcs-ingress-controller/listenercontroller/metrics.go
  install/conf/bcs-network/bcs-ingress-controller/container-start.sh
Labels: confirmed, feature, inner, k8s, network

#642 feature: bcs-user-manager stop list old cluster credentials. issue #641
  bcs-services/bcs-user-manager/app/user-manager/v1http/credentials.go
Labels: confirmed, feature, inner, service

#643 feature: bcs-user-manager stop list old cluster credentials. issue #641
  bcs-services/bcs-user-manager/app/user-manager/v1http/credentials.go
Labels: confirmed, feature, inner, service

#645 fixes data race on reconciler
  bcs-services/bcs-bkcmdb-synchronizer/reconciler/reconciler.go
Labels: confirmed, outer, service

#646 v1.19.1发布
  bcs-services/bcs-service-prometheus/discovery/service-monitor.go
  docs/version/1.18.x.md
  docs/version/1.19.x.md
  go.sum
  readme.md
Labels: confirmed, document, inner
