Repository TencentBlueKing/bk-bcs, pull requests merged in 2020-02, with the labels that each got.

#354 feature: 过滤掉不合规范的labels #351
  bcs-mesos/bcs-scheduler/src/manager/store/etcd/application.go
  bcs-mesos/bcs-scheduler/src/manager/store/etcd/configmap.go
  bcs-mesos/bcs-scheduler/src/manager/store/etcd/deployment.go
  bcs-mesos/bcs-scheduler/src/manager/store/etcd/endpoint.go
  bcs-mesos/bcs-scheduler/src/manager/store/etcd/secret.go
  bcs-mesos/bcs-scheduler/src/manager/store/etcd/service.go
  bcs-mesos/bcs-scheduler/src/manager/store/etcd/store.go
  bcs-mesos/bcs-scheduler/src/manager/store/etcd/taskgroup.go
Labels: confirmed, enhancement, inner, scheduler

#350 feature: support match BcsLogConf with workloads type and name . issu…
  bcs-services/bcs-webhook-server/pkg/apis/bk-bcs/v2/bcslogconfig_types.go
  bcs-services/bcs-webhook-server/pkg/apis/bk-bcs/v2/zz_generated.deepcopy.go
  bcs-services/bcs-webhook-server/pkg/inject/common/common.go
  bcs-services/bcs-webhook-server/pkg/inject/k8s/db_priv_conf.go
  bcs-services/bcs-webhook-server/pkg/inject/k8s/log_conf.go
  bcs-services/bcs-webhook-server/pkg/inject/mesos/db_priv_conf.go
  bcs-services/bcs-webhook-server/pkg/inject/mesos/log_conf.go
  docs/features/bcs-webhook-server/bcs-webhook-server.md
  docs/features/bcs-webhook-server/log-controller.md
Labels: confirmed, enhancement, inner, service

#348 合入bcs-gw-controller特性
  Makefile
  bcs-services/bcs-clb-controller/Makefile
  bcs-services/bcs-clb-controller/pkg/processor/processor.go
  bcs-services/bcs-clb-controller/pkg/serviceclient/adapter/adapter.go
  bcs-services/bcs-gw-controller/cmd/root.go
  bcs-services/bcs-gw-controller/cmd/server.go
  bcs-services/bcs-gw-controller/cmd/version.go
  bcs-services/bcs-gw-controller/docker/Dockerfile
  bcs-services/bcs-gw-controller/main.go
  bcs-services/bcs-gw-controller/pkg/gw/client.go
  bcs-services/bcs-gw-controller/pkg/gw/constant.go
  bcs-services/bcs-gw-controller/pkg/gw/mock_client.go
  bcs-services/bcs-gw-controller/pkg/gw/types.go
  bcs-services/bcs-gw-controller/pkg/gw/types_test.go
  bcs-services/bcs-gw-controller/pkg/processor/processor.go
  bcs-services/bcs-gw-controller/pkg/processor/updater.go
  bcs-services/bcs-gw-controller/pkg/processor/updater_test.go
  docs/features/bcs-clb-controller/README.md
  install/cmd/conf/bcs-clb-controller/clb-controller-deployment.json.template
  install/cmd/conf/bcs-clb-controller/clb-controller-nginx-configmap.json.template
  install/cmd/conf/bcs-clb-controller/clb-controller-secret.json.template
  install/cmd/conf/bcs-clb-controller/clb-controller.env.example
  install/cmd/conf/bcs-gw-controller/gw-controller-deployment.json.template
  install/cmd/conf/bcs-gw-controller/gw-controller-nginx-configmap.json.template
  install/cmd/conf/bcs-gw-controller/gw-controller-secret.json.template
  install/cmd/conf/bcs-gw-controller/gw-controller.env.example
  install/conf/bcs-services/bcs-clb-controller/Dockerfile
  install/conf/bcs-services/bcs-gw-controller/Dockerfile
Labels: confirmed, enhancement, feature, inner, service

#369 feature: 过滤掉不合规范的labels #351
  bcs-mesos/bcs-scheduler/src/manager/store/etcd/store.go
Labels: confirmed, enhancement, inner, scheduler

#370 add bscp inject module into bcs-webhook-server; fix mesos-driver bugs; fix some format problem;
  bcs-mesos/bcs-mesos-driver/mesosdriver/backend/v4http/customresource.go
  bcs-mesos/bcs-mesos-driver/mesosdriver/filter/admission-webhook.go
  bcs-services/bcs-gw-controller/pkg/gw/types_test.go
  bcs-services/bcs-webhook-server/app/app.go
  bcs-services/bcs-webhook-server/options/options.go
  bcs-services/bcs-webhook-server/pkg/inject/k8s/bscp_conf.go
  bcs-services/bcs-webhook-server/pkg/inject/mesos/bscp_conf.go
  bcs-services/bcs-webhook-server/pkg/inject/mesos_inject.go
  bcs-services/bcs-webhook-server/pkg/inject/types.go
Labels: confirmed, enhancement, feature, inner, service

#360 1.16.x mesos存储迁移工具&日志自定义label
  bcs-common/common/types/command.go
  bcs-mesos/bcs-mesos-watch/app/watch.go
  bcs-mesos/bcs-migrate-data/clean.sh
  bcs-mesos/bcs-migrate-data/main.go
  bcs-mesos/bcs-process-executor/process-executor/executor/executor.go
  bcs-mesos/bcs-scheduler/src/manager/store/etcd/deployment.go
  bcs-mesos/bcs-scheduler/src/manager/store/etcd/store.go
  bcs-mesos/bcs-scheduler/src/manager/store/etcd/version.go
  bcs-mesos/bcs-scheduler/src/manager/store/interface.go
  bcs-mesos/bcs-scheduler/src/manager/store/zk/version.go
  bcs-services/bcs-logbeat-sidecar/sidecar/controller.go
  bcs-services/bcs-logbeat-sidecar/template/unifytlogc-template.conf
  docs/features/network-detection/network-detection.md
  docs/features/network-detection/network-detection.png
Labels: confirmed, enhancement, inner, service

#382 fix clb-controller and add k8s bscp sidecar injection
  bcs-services/bcs-clb-controller/cmd/server.go
  bcs-services/bcs-clb-controller/pkg/apis/network/v1/cloudlistener_types.go
  bcs-services/bcs-clb-controller/pkg/cloudlb/qcloud/clbDetails.go
  bcs-services/bcs-clb-controller/pkg/cloudlb/qcloud/constant.go
  bcs-services/bcs-clb-controller/pkg/cloudlb/qcloud/util.go
  bcs-services/bcs-clb-controller/pkg/cloudlb/qcloud/util_test.go
  bcs-services/bcs-webhook-server/app/app.go
  bcs-services/bcs-webhook-server/pkg/inject/common/bscp/bscp.go
  bcs-services/bcs-webhook-server/pkg/inject/common/bscp/bscp_test.go
  bcs-services/bcs-webhook-server/pkg/inject/k8s/bscp_conf.go
  bcs-services/bcs-webhook-server/pkg/inject/k8s_inject.go
  bcs-services/bcs-webhook-server/pkg/inject/mesos/bscp_conf.go
Labels: confirmed, enhancement, inner, service

#380 bcs-client & bcs-api support yaml resource
  Makefile
  bcs-common/common/errorCode.go
  bcs-common/common/types/meta.go
  bcs-services/bcs-api/processor/http/actions/v4http/mesos/mesos-actions.go
  bcs-services/bcs-client/cmd/batch/apply.go
  bcs-services/bcs-client/cmd/batch/clean.go
  bcs-services/bcs-client/cmd/delete/delete.go
  bcs-services/bcs-client/cmd/main.go
  bcs-services/bcs-client/cmd/utils/types.go
  bcs-services/bcs-client/pkg/metastream/interface.go
  bcs-services/bcs-client/pkg/metastream/json.go
  docs/features/bcs-client/bcs-client_HANDBOOK.md
Labels: confirmed, enhancement, feature, inner, service

#386 feature: bcs-webhook-server supports to inject stdDataId and nonStdDa…
  bcs-services/bcs-webhook-server/pkg/apis/bk-bcs/v1/bcslogconfig_types.go
  bcs-services/bcs-webhook-server/pkg/inject/common/common.go
  bcs-services/bcs-webhook-server/pkg/inject/k8s/log_conf.go
  bcs-services/bcs-webhook-server/pkg/inject/mesos/log_conf.go
  docs/features/bcs-webhook-server/bcs-webhook-server.md
  docs/features/bcs-webhook-server/log-controller.md
Labels: confirmed, enhancement, feature, inner, service

#389 1.15.4文档更新
  Makefile
  docs/version/1.15.x.md
  docs/version/README.md
Labels: confirmed, document, inner
