Repository TencentBlueKing/bk-bcs, pull requests merged in 2020-12, with the labels that each got.

#676 Mesos IP问题修复
  .gitignore
  bcs-common/common/util/check.go
  bcs-common/common/util/flags.go
  bcs-common/common/util/net.go
  bcs-k8s/bcs-gamedeployment-operator/go.sum
  bcs-k8s/bcs-gamestatefulset-operator/go.sum
  bcs-k8s/bcs-k8s-custom-scheduler/go.sum
  bcs-mesos/bcs-container-executor/app/bcs_executor.go
  bcs-mesos/bcs-container-executor/app/bcs_handler.go
  bcs-mesos/bcs-container-executor/container/cni/cni_pod.go
  bcs-mesos/bcs-container-executor/container/cnm/cnm_pod.go
  bcs-mesos/bcs-container-executor/container/docker.go
  bcs-mesos/bcs-container-executor/network/cni/cni.go
  bcs-mesos/bcs-container-executor/network/cni/manager.go
  bcs-mesos/bcs-container-executor/network/cnm/docker.go
  bcs-mesos/bcs-container-executor/network/manager.go
  bcs-mesos/bcs-container-executor/util/file.go
  bcs-mesos/bcs-container-executor/util/flags.go
  bcs-mesos/bcs-container-executor/util/string.go
  bcs-network/go.sum
  bcs-services/bcs-client/go.sum
  bcs-services/bcs-dns/plugin/bcsscheduler/lookup.go
  bcs-services/bcs-dns/plugin/bcsscheduler/scheduler.go
  bcs-services/bcs-log-manager/go.sum
  bcs-services/bcs-logbeat-sidecar/go.sum
  bcs-services/bcs-mesh-manager/go.sum
  bcs-services/bcs-netservice/bcs-ipam/main.go
  bcs-services/bcs-netservice/bcs-ipam/manager/manager.go
  bcs-services/bcs-netservice/bcs-ipam/manager/tools.go
  bmsf-mesh/bmsf-mesos-adapter/pkg/util/ip/ip.go
  docs/version/1.18.x.md
  docs/version/1.19.x.md
  go.mod
  go.sum
Labels: bug, confirmed, inner, mesos, scheduler

#683 修复bcs-client nil map问题
  bcs-services/bcs-client/cmd/update/application.go
  bcs-services/bcs-client/cmd/update/process.go
Labels: bug, confirmed, inner, mesos, service

#685 feature: image loader plugin for webhook server; issue #684
  bcs-services/bcs-webhook-server/internal/plugin/imageloader/bcsgd.go
  bcs-services/bcs-webhook-server/internal/plugin/imageloader/imageloader.go
  bcs-services/bcs-webhook-server/internal/plugin/imageloader/job.go
  bcs-services/bcs-webhook-server/internal/plugin/imageloader/workload.go
  bcs-services/bcs-webhook-server/internal/server/init.go
  go.mod
Labels: confirmed, feature, inner, k8s, scheduler

#687 fix: adjust hookrun name. issue #680
  Makefile
  bcs-k8s/bcs-gamedeployment-operator/pkg/controllers/gamedeployment/hook.go
  bcs-k8s/bcs-gamestatefulset-operator/pkg/apis/tkex/v1alpha1/types.go
  bcs-k8s/bcs-gamestatefulset-operator/pkg/controllers/game_stateful_set_control.go
  bcs-k8s/bcs-gamestatefulset-operator/pkg/controllers/game_stateful_set_utils.go
  bcs-k8s/bcs-gamestatefulset-operator/pkg/controllers/hook.go
  bcs-k8s/kubernetes/common/bcs-hook/predelete/predelete.go
Labels: confirmed, inner, k8s, service

#693 logbeat-sidecar
  bcs-services/bcs-logbeat-sidecar/app/app.go
  bcs-services/bcs-logbeat-sidecar/app/options/options.go
  bcs-services/bcs-logbeat-sidecar/config/config.go
  bcs-services/bcs-logbeat-sidecar/go.mod
  bcs-services/bcs-logbeat-sidecar/metric/logfileinfo_guage.go
  bcs-services/bcs-logbeat-sidecar/sidecar/controller.go
  bcs-services/bcs-logbeat-sidecar/sidecar/logconfig.go
  bcs-services/bcs-logbeat-sidecar/sidecar/logconfop_linux.go
  bcs-services/bcs-logbeat-sidecar/sidecar/logconfop_windows.go
  bcs-services/bcs-logbeat-sidecar/types/types.go
  bcs-services/bcs-webhook-server/pkg/apis/bk-bcs/v1/bcslogconfig_types.go
Labels: confirmed, feature, inner, service

#698 修复 bcs-client 关于 deployment list, cancel, pause, resume 四个命令相关问题
  bcs-services/bcs-client/cmd/deployment/cancel.go
  bcs-services/bcs-client/cmd/deployment/pause.go
  bcs-services/bcs-client/cmd/deployment/resume.go
  bcs-services/bcs-client/cmd/list/deployment.go
Labels: bug, confirmed, inner, mesos, service

#703 Fea ingress ctrl ns scope
  bcs-network/bcs-ingress-controller/internal/cloud/interface.go
  bcs-network/bcs-ingress-controller/internal/cloud/mock/mockcloud.go
  bcs-network/bcs-ingress-controller/internal/cloud/nstencentcloud/namespacedclient.go
  bcs-network/bcs-ingress-controller/internal/cloud/tencentcloud/api.go
  bcs-network/bcs-ingress-controller/internal/cloud/tencentcloud/clb.go
  bcs-network/bcs-ingress-controller/internal/cloud/tencentcloud/sdk.go
  bcs-network/bcs-ingress-controller/internal/generator/conflict.go
  bcs-network/bcs-ingress-controller/internal/generator/ingressconverter.go
  bcs-network/bcs-ingress-controller/internal/generator/ingressconverter_test.go
  bcs-network/bcs-ingress-controller/internal/generator/mappingconverter.go
  bcs-network/bcs-ingress-controller/internal/generator/ruleconverter.go
  bcs-network/bcs-ingress-controller/internal/option/option.go
  bcs-network/bcs-ingress-controller/main.go
Labels: confirmed, inner, k8s

#704 Fea bcs webhhook deploy
  bcs-services/bcs-webhook-server/internal/plugin/dbprivilege/dbprivilege.go
  bcs-services/bcs-webhook-server/internal/plugin/dbprivilege/options.go
  docs/features/bcs-webhook-server/bcs-webhook-server-kubernetes部署.md
  docs/features/bcs-webhook-server/deploy/helm/bcs-webhook-server/.helmignore
  docs/features/bcs-webhook-server/deploy/helm/bcs-webhook-server/Chart.yaml
  docs/features/bcs-webhook-server/deploy/helm/bcs-webhook-server/templates/clusterrole.yaml
  docs/features/bcs-webhook-server/deploy/helm/bcs-webhook-server/templates/clusterrolebinding.yaml
  docs/features/bcs-webhook-server/deploy/helm/bcs-webhook-server/templates/configmap.yaml
  docs/features/bcs-webhook-server/deploy/helm/bcs-webhook-server/templates/deployment.yaml
  docs/features/bcs-webhook-server/deploy/helm/bcs-webhook-server/templates/namespaces.yaml
  docs/features/bcs-webhook-server/deploy/helm/bcs-webhook-server/templates/secret.yaml
  docs/features/bcs-webhook-server/deploy/helm/bcs-webhook-server/templates/service.yaml
  docs/features/bcs-webhook-server/deploy/helm/bcs-webhook-server/templates/serviceaccount.yaml
  docs/features/bcs-webhook-server/deploy/helm/bcs-webhook-server/templates/webhookconfiguration.yaml
  docs/features/bcs-webhook-server/deploy/helm/bcs-webhook-server/values.yaml
Labels: confirmed, feature, inner, k8s

#705 fix update listener and rule attr
  bcs-network/bcs-ingress-controller/internal/cloud/tencentcloud/helper.go
  bcs-network/bcs-ingress-controller/internal/cloud/tencentcloud/util.go
Labels: bug, confirmed, inner, service

#710 Fix crd validation
  bcs-k8s/bcs-gamedeployment-operator/doc/deploy/01-resources.yaml
  bcs-k8s/bcs-gamedeployment-operator/pkg/apis/tkex/v1alpha1/types.go
  bcs-k8s/bcs-gamestatefulset-operator/doc/deploy/01-resources.yaml
  bcs-k8s/bcs-gamestatefulset-operator/doc/example/gamestatefulset-sample.yaml
  bcs-k8s/bcs-gamestatefulset-operator/pkg/apis/tkex/v1alpha1/types.go
  bcs-k8s/kubernetes/common/bcs-hook/apis/tkex/v1alpha1/hook_types.go
Labels: confirmed, feature, k8s, scheduler
