Repository TencentBlueKing/bk-bcs, pull requests merged in 2020-11, with the labels that each got.

#648 1.19.x流水线调整
  Makefile
  bcs-k8s/bcs-gamedeployment-operator/go.mod
  bcs-services/bcs-service-prometheus/controller/controller.go
  bcs-services/bcs-service-prometheus/discovery/service-monitor.go
  docs/version/1.19.x.md
Labels: confirmed, inner

#649 fix: service-prometheus duplicated config, issue #647
  bcs-services/bcs-service-prometheus/discovery/service-monitor.go
Labels: bug, confirmed, inner, mesos, service

#659 etcd节点数据发现问题修复
  bcs-common/pkg/esb/apigateway/alert/client.go
  bcs-common/pkg/esb/apigateway/alert/types.go
  bcs-k8s/bcs-gamedeployment-operator/go.sum
  bcs-network/go.sum
  bcs-services/bcs-service-prometheus/discovery/node-etcd-discovery.go
Labels: bug, confirmed, inner, mesos

#655 多DB授权
  bcs-services/bcs-webhook-server/pkg/inject/k8s/db_priv_conf.go
Labels: confirmed, feature, inner, service

#662 fix: fix condition judgement about qcloud eni number
  bcs-network/bcs-cloudnetwork/pkg/eni/qcloud/util.go
  bcs-network/qcloud-eip/eip/util.go
Labels: bug, confirmed, inner, k8s, network

#660 fix: fix condition judgement about qcloud eni number
  bcs-services/bcs-network/bcs-cloudnetwork/pkg/eni/qcloud/util.go
  bcs-services/bcs-network/qcloud-eip/eip/util.go
Labels: bug, confirmed, inner, k8s, network

#661 fix: fix condition judgement about qcloud eni number
  bcs-network/bcs-cloudnetwork/pkg/eni/qcloud/util.go
  bcs-network/qcloud-eip/eip/util.go
Labels: bug, confirmed, inner, k8s, network

#665 bcs-scheduler脏数据问题 & gometalinter
  bcs-mesos/bcs-scheduler/src/manager/sched/api/api.go
  bcs-mesos/bcs-scheduler/src/manager/sched/api/routes.go
  bcs-mesos/bcs-scheduler/src/manager/sched/scheduler/bcs_event.go
  bcs-mesos/bcs-scheduler/src/manager/sched/scheduler/daemonset.go
  bcs-mesos/bcs-scheduler/src/manager/sched/scheduler/data_check.go
  bcs-mesos/bcs-scheduler/src/manager/sched/scheduler/deployment.go
  bcs-mesos/bcs-scheduler/src/manager/sched/scheduler/healthy_msg.go
  bcs-mesos/bcs-scheduler/src/manager/sched/scheduler/message.go
  bcs-mesos/bcs-scheduler/src/manager/sched/scheduler/scheduler.go
  bcs-mesos/bcs-scheduler/src/manager/sched/scheduler/service_mgr.go
  bcs-mesos/bcs-scheduler/src/manager/sched/scheduler/task_operate.go
  bcs-mesos/bcs-scheduler/src/manager/sched/scheduler/trans_command.go
  bcs-mesos/bcs-scheduler/src/manager/sched/scheduler/trans_deleteapp.go
  bcs-mesos/bcs-scheduler/src/manager/sched/scheduler/trans_launchapp.go
  bcs-mesos/bcs-scheduler/src/manager/sched/scheduler/trans_reschedule.go
  bcs-mesos/bcs-scheduler/src/manager/sched/scheduler/trans_scaleapp.go
  bcs-mesos/bcs-scheduler/src/manager/sched/scheduler/trans_updateapp.go
  bcs-mesos/bcs-scheduler/src/manager/sched/scheduler/trans_updateapp_resource.go
  bcs-mesos/bcs-scheduler/src/manager/sched/scheduler/transaction.go
  bcs-mesos/bcs-scheduler/src/manager/sched/scheduler/update.go
  bcs-mesos/bcs-scheduler/src/manager/sched/task/executor.go
  bcs-mesos/bcs-scheduler/src/manager/sched/task/resources.go
  bcs-mesos/bcs-scheduler/src/manager/sched/task/task.go
  bcs-mesos/bcs-scheduler/src/manager/store/etcd/deployment.go
Labels: bug, confirmed, inner, mesos, scheduler

#673 修复bcs-service-prometheus异常退出
  bcs-mesos/pkg/apis/monitor/v1/servicemonitor_types.go
  bcs-services/bcs-service-prometheus/discovery/service-monitor.go
Labels: bug, confirmed, inner, mesos, service

#668 feature: bcs-gamedeployment-operator support pod PreDeleteHook. issue…
  bcs-k8s/bcs-gamedeployment-operator/README.md
  bcs-k8s/bcs-gamedeployment-operator/doc/features/canary/auto-canary-update.md
  bcs-k8s/bcs-gamedeployment-operator/doc/features/hookrun-controller/hookrun.md
  bcs-k8s/bcs-gamedeployment-operator/doc/features/preDeleteHook/gamedeployment-args.yaml
  bcs-k8s/bcs-gamedeployment-operator/doc/features/preDeleteHook/gamedeployment.yaml
  bcs-k8s/bcs-gamedeployment-operator/doc/features/preDeleteHook/hook-template-args.yaml
  bcs-k8s/bcs-gamedeployment-operator/doc/features/preDeleteHook/hook-template-fail.yaml
  bcs-k8s/bcs-gamedeployment-operator/doc/features/preDeleteHook/hook-template-success.yaml
  bcs-k8s/bcs-gamedeployment-operator/doc/features/preDeleteHook/pre-delete-hook.md
  bcs-k8s/bcs-gamedeployment-operator/pkg/apis/tkex/v1alpha1/types.go
  bcs-k8s/bcs-gamedeployment-operator/pkg/apis/tkex/v1alpha1/zz_generated.deepcopy.go
  bcs-k8s/bcs-gamedeployment-operator/pkg/controllers/gamedeployment/context.go
  bcs-k8s/bcs-gamedeployment-operator/pkg/controllers/gamedeployment/game_deployment.go
  bcs-k8s/bcs-gamedeployment-operator/pkg/controllers/gamedeployment/game_deployment_control.go
  bcs-k8s/bcs-gamedeployment-operator/pkg/controllers/gamedeployment/game_deployment_status_updater.go
  bcs-k8s/bcs-gamedeployment-operator/pkg/controllers/gamedeployment/hook.go
  bcs-k8s/bcs-gamedeployment-operator/pkg/core/gamedeployment_core.go
  bcs-k8s/bcs-gamedeployment-operator/pkg/predelete/predelete.go
  bcs-k8s/bcs-gamedeployment-operator/pkg/scale/gamedeployment_scale.go
  bcs-k8s/bcs-gamedeployment-operator/pkg/scale/gamedeployment_scale_util.go
  bcs-k8s/bcs-gamedeployment-operator/pkg/update/gamedeployment_update.go
  bcs-k8s/bcs-gamedeployment-operator/pkg/util/hook/filter.go
  bcs-k8s/bcs-gamedeployment-operator/pkg/util/utils.go
Labels: confirmed, feature, inner, k8s, scheduler
