Repository TencentBlueKing/bk-bcs, pull requests merged in 2020-01, with the labels that each got.

#328 fix: 重新调度容器时，极端情况下会导致taskgroup数据不一致问题 #327
  bcs-mesos/bcs-scheduler/src/manager/sched/scheduler/trans_reschedule.go
Labels: bug, confirmed, inner, scheduler

#330 fix: 重新调度容器时，极端情况下会导致taskgroup数据不一致 #327
  bcs-mesos/bcs-scheduler/src/manager/sched/scheduler/trans_launchapp.go
  bcs-mesos/bcs-scheduler/src/manager/sched/scheduler/trans_reschedule.go
Labels: bug, confirmed, inner, scheduler

#329 BCS-API support resource watch
  bcs-services/bcs-api/processor/http/actions/v4http/storage/storage-actions.go
  docs/features/bcs-api/image/res-watch.png
  docs/features/bcs-api/image/storage-watcher.png
  docs/features/bcs-api/resource-watch.md
Labels: confirmed, enhancement, feature, inner, service

#331 fix: enable mesos process inspect and list
  bcs-services/bcs-storage/storage/actions/v1http/dynamic-mesos/dynamic-action.go
  bcs-services/bcs-storage/storage/actions/v1http/dynamic-mesos/utils.go
Labels: confirmed, feature, inner, service

#337 feature: bcs-k8s-driver support tke-k8s version 1.12, 1.13, 1.14 . is…
  bcs-k8s/bcs-k8s-driver/kubedriver/versions/metaurls.go
Labels: confirmed, inner, scheduler

#335 feature: 增加获取deployment、application定义接口 #332
  bcs-common/pkg/module-discovery/mesos-discovery.go
  bcs-mesos/bcs-container-executor/app/bcs_executor.go
  bcs-mesos/bcs-container-executor/container/docker.go
  bcs-mesos/bcs-mesos-driver/mesosdriver/backend/v4http/create.go
  bcs-mesos/bcs-mesos-driver/mesosdriver/backend/v4http/deployment.go
  bcs-mesos/bcs-scheduler/src/manager/sched/api/api.go
  bcs-mesos/bcs-scheduler/src/manager/sched/api/routes.go
  bcs-mesos/bcs-scheduler/src/manager/sched/backend/deployment.go
  bcs-mesos/bcs-scheduler/src/manager/sched/scheduler/deployment.go
  bcs-mesos/bcs-scheduler/src/manager/sched/scheduler/transaction.go
  bcs-mesos/bcs-scheduler/src/types/application.go
Labels: confirmed, feature, inner, scheduler, service

#344 1.15.3-beta发布
  bcs-common/common/tcp/protocol/protocol.go
  bcs-mesos/bcs-scheduler/src/manager/sched/scheduler/deployment.go
  bcs-mesos/bcs-scheduler/src/types/application.go
  bcs-services/bcs-webhook-server/pkg/inject/common/common.go
  bcs-services/bcs-webhook-server/pkg/inject/k8s/db_priv_conf.go
  bcs-services/bcs-webhook-server/pkg/inject/mesos/db_priv_conf.go
  install/conf/bcs-mesos-master/bcs-dns/bcs-dns.config.template
  install/conf/bcs-mesos-master/bcs-mesos-driver/bcs-mesos-driver.json.template
  install/conf/bcs-mesos-master/bcs-mesos-watch/bcs-mesos-watch.json.template
  scripts/base.env
Labels: confirmed, inner

#341 1.15.x封版
  Gopkg.toml
  Makefile
  bcs-common/common/tcp/protocol/protocol.go
  bcs-common/pkg/module-discovery/mesos-discovery.go
  bcs-k8s/bcs-k8s-driver/kubedriver/versions/metaurls.go
  bcs-mesos/bcs-container-executor/app/bcs_executor.go
  bcs-mesos/bcs-container-executor/container/docker.go
  bcs-mesos/bcs-mesos-driver/mesosdriver/backend/v4http/create.go
  bcs-mesos/bcs-mesos-driver/mesosdriver/backend/v4http/deployment.go
  bcs-mesos/bcs-mesos-watch/cluster/etcd/exportservice.go
  bcs-mesos/bcs-scheduler/src/manager/manager.go
  bcs-mesos/bcs-scheduler/src/manager/sched/api/api.go
  bcs-mesos/bcs-scheduler/src/manager/sched/api/routes.go
  bcs-mesos/bcs-scheduler/src/manager/sched/backend/deployment.go
  bcs-mesos/bcs-scheduler/src/manager/sched/scheduler/deployment.go
  bcs-mesos/bcs-scheduler/src/manager/sched/scheduler/trans_launchapp.go
  bcs-mesos/bcs-scheduler/src/manager/sched/scheduler/trans_reschedule.go
  bcs-mesos/bcs-scheduler/src/manager/sched/scheduler/transaction.go
  bcs-mesos/bcs-scheduler/src/types/application.go
  bcs-services/bcs-api/processor/http/actions/v4http/storage/storage-actions.go
  bcs-services/bcs-storage/storage/actions/v1http/dynamic-mesos/dynamic-action.go
  bcs-services/bcs-storage/storage/actions/v1http/dynamic-mesos/utils.go
  bcs-services/bcs-webhook-server/pkg/inject/common/common.go
  bcs-services/bcs-webhook-server/pkg/inject/k8s/db_priv_conf.go
  bcs-services/bcs-webhook-server/pkg/inject/mesos/db_priv_conf.go
  docs/features/bcs-api/image/res-watch.png
  docs/features/bcs-api/image/storage-watcher.png
  docs/features/bcs-api/resource-watch.md
  docs/version/1.15.x.md
  install/conf/bcs-mesos-master/bcs-dns/bcs-dns.config.template
  install/conf/bcs-mesos-master/bcs-mesos-driver/bcs-mesos-driver.json.template
  install/conf/bcs-mesos-master/bcs-mesos-watch/bcs-mesos-watch.json.template
  install/conf/bcs-mesos-node/cni-plugins/macvlan.conf.template
  scripts/base.env
  vendor/github.com/containernetworking/plugins/pkg/utils/sysctl/sysctl_linux.go
  vendor/github.com/containernetworking/plugins/pkg/utils/utils.go
  vendor/github.com/containernetworking/plugins/plugins/main/bridge/README.md
  vendor/github.com/containernetworking/plugins/plugins/main/bridge/bridge.go
  vendor/github.com/containernetworking/plugins/plugins/main/macvlan/README.md
  vendor/github.com/containernetworking/plugins/plugins/main/macvlan/macvlan.go
  vendor/github.com/containernetworking/plugins/plugins/main/ptp/README.md
  vendor/github.com/containernetworking/plugins/plugins/main/ptp/ptp.go
Labels: confirmed, inner
