Repository TencentBlueKing/bk-bcs, pull requests merged in 2020-09, with the labels that each got.

#571 fix: 优化大规模调度时的卡顿问题 #559
  bcs-mesos/bcs-scheduler/src/manager/sched/offer/offerpool.go
  bcs-mesos/bcs-scheduler/src/manager/sched/sched.go
  bcs-mesos/bcs-scheduler/src/manager/sched/scheduler/bcs_event.go
  bcs-mesos/bcs-scheduler/src/manager/sched/scheduler/scheduler.go
  bcs-mesos/bcs-scheduler/src/manager/sched/scheduler/update.go
  bcs-mesos/bcs-scheduler/src/util/config.go
Labels: confirmed, inner, mesos

#576 feature: add api for bcs-user-manager and bcs-api to get tke cidr cou…
  bcs-services/bcs-api/pkg/server/resthdrs/handlers.go
  bcs-services/bcs-api/pkg/server/resthdrs/tke.go
  bcs-services/bcs-api/pkg/storages/sqlstore/tke.go
  bcs-services/bcs-user-manager/app/user-manager/storages/sqlstore/tke.go
  bcs-services/bcs-user-manager/app/user-manager/v1http/router.go
  bcs-services/bcs-user-manager/app/user-manager/v1http/tke.go
Labels: confirmed, inner, service

#594 logbeat-sidecar 文档更新
  docs/features/bcs-webhook-server/log-controller.md
Labels: confirmed, document, inner

#598 1.18.x bug fix
  bcs-mesos/bcs-mesos-watch/app/options.go
  bcs-mesos/bcs-mesos-watch/cluster/etcd/cluster.go
  bcs-mesos/bcs-mesos-watch/cluster/etcd/deployment.go
  bcs-mesos/bcs-mesos-watch/cluster/mesos/deployment.go
  bcs-mesos/bcs-mesos-watch/cluster/mesos/mesos.go
  bcs-mesos/bcs-mesos-watch/storage/cc.go
  bcs-mesos/bcs-mesos-watch/types/types.go
  bcs-mesos/bcs-scheduler/src/manager/sched/scheduler/task_operate.go
  bcs-mesos/bcs-scheduler/src/manager/sched/scheduler/trans_scaleapp.go
Labels: bug, confirmed, inner, mesos, service

#599 1.18.6版本发布
  Makefile
  bcs-k8s/bcs-gamestatefulset-operator/go.mod
  bcs-k8s/bcs-gamestatefulset-operator/go.sum
  bcs-mesos/bcs-mesos-watch/cluster/etcd/cluster.go
  bcs-mesos/bcs-mesos-watch/cluster/etcd/deployment.go
  bcs-mesos/bcs-mesos-watch/cluster/mesos/deployment.go
  bcs-mesos/bcs-mesos-watch/cluster/mesos/mesos.go
  bcs-mesos/bcs-mesos-watch/types/types.go
  bcs-mesos/bcs-scheduler/src/manager/sched/sched.go
  bcs-mesos/bcs-scheduler/src/manager/sched/scheduler/bcs_event.go
  bcs-mesos/bcs-scheduler/src/manager/sched/scheduler/task_operate.go
  bcs-mesos/bcs-scheduler/src/manager/store/etcd/agent.go
  bcs-mesos/bcs-scheduler/src/manager/store/etcd/application.go
  bcs-mesos/bcs-scheduler/src/manager/store/etcd/configmap.go
  bcs-mesos/bcs-scheduler/src/manager/store/etcd/deployment.go
  bcs-mesos/bcs-scheduler/src/manager/store/etcd/secret.go
  bcs-mesos/bcs-scheduler/src/manager/store/etcd/service.go
  bcs-mesos/bcs-scheduler/src/manager/store/etcd/task.go
  bcs-mesos/bcs-scheduler/src/manager/store/etcd/taskgroup.go
  bcs-services/bcs-user-manager/app/tunnel-handler/k8s/tunnel-dialer_test.go
  docs/version/1.18.x.md
Labels: bug, inner, mesos

#596 1.19.x mesh-manager
  bcs-common/pkg/kubehelm/cmd.go
  bcs-common/pkg/kubehelm/interface.go
  bcs-mesos/bcs-container-executor/container/cni/cni_pod.go
  bcs-mesos/bcs-container-executor/container/cnm/cnm_pod.go
  bcs-services/bcs-mesh-manager/config/config.go
  bcs-services/bcs-mesh-manager/config/options.go
  bcs-services/bcs-mesh-manager/controllers/meshCluster.go
  bcs-services/bcs-mesh-manager/go.mod
  bcs-services/bcs-mesh-manager/go.sum
  bcs-services/bcs-mesh-manager/main.go
  docs/features/bcs-mesh-manager/README.md
  docs/features/bcs-mesh-manager/images/bcs-mesh-manager.png
  install/conf/bcs-services/bcs-mesh-manager/bcs-mesh-manager.json.template
  install/conf/bcs-services/bcs-mesh-manager/container-start.sh
Labels: confirmed, feature, inner, service

#601 1.19.x
  bcs-k8s/bcs-gamedeployment-operator/pkg/controllers/game_deployment_control.go
  bcs-k8s/bcs-k8s-custom-scheduler/pkg/ipscheduler/v2/ipscheduler.go
  bcs-k8s/bcs-k8s-custom-scheduler/pkg/ipscheduler/v2/ipscheduler_test.go
Labels: confirmed, inner, k8s, service

#602 meshManager metalinter修复
  Makefile
  bcs-common/pkg/kubehelm/cmd.go
  bcs-common/pkg/kubehelm/interface.go
  bcs-k8s/bcs-gamestatefulset-operator/cmd/gamestatefulset-operator/main.go
  bcs-k8s/bcs-gamestatefulset-operator/pkg/controllers/game_stateful_set.go
  bcs-k8s/bcs-gamestatefulset-operator/pkg/controllers/game_stateful_set_control.go
  bcs-k8s/bcs-gamestatefulset-operator/pkg/controllers/game_stateful_set_status_updater.go
  bcs-k8s/bcs-gamestatefulset-operator/pkg/controllers/game_stateful_set_utils.go
  bcs-k8s/bcs-gamestatefulset-operator/pkg/controllers/gamestatefulset_pod_control.go
  bcs-services/bcs-client/cmd/batch/apply.go
  bcs-services/bcs-client/cmd/list/meshcluster.go
  bcs-services/bcs-client/go.mod
  bcs-services/bcs-client/pkg/metastream/json.go
  bcs-services/bcs-client/pkg/utils/api.go
  bcs-services/bcs-client/pkg/utils/auth-token.go
  bcs-services/bcs-gateway-discovery/register/apisix/api.go
  bcs-services/bcs-gateway-discovery/register/kong/kong.go
  bcs-services/bcs-mesh-manager/Dockerfile
  bcs-services/bcs-mesh-manager/api/v1/meshcluster_types.go
  bcs-services/bcs-mesh-manager/config/config.go
  bcs-services/bcs-mesh-manager/config/options.go
  bcs-services/bcs-mesh-manager/controllers/meshCluster.go
  bcs-services/bcs-mesh-manager/controllers/meshcluster_controller.go
  bcs-services/bcs-mesh-manager/go.mod
  bcs-services/bcs-mesh-manager/hack/boilerplate.go.txt
  bcs-services/bcs-mesh-manager/handler/meshmanager.go
  bcs-services/bcs-mesh-manager/main.go
  bcs-services/bcs-mesh-manager/types/types.go
Labels: inner, service

#604 1.18.x 当daemonset taskgroup failed时，出现了死锁的情况 #546
  bcs-mesos/bcs-scheduler/src/manager/sched/scheduler/daemonset.go
Labels: bug, confirmed, mesos, scheduler

#606 fix: gometalinter fix, issue #144
  bcs-k8s/bcs-egress/pkg/controller/bcsegress/bcsegress_controller.go
  bcs-k8s/bcs-k8s-driver/kubedriver/custom/clusterresource.go
  bcs-k8s/bcs-k8s-driver/kubedriver/custom/clusterstatus.go
  bcs-k8s/bcs-k8s-driver/kubedriver/custom/handler.go
  bcs-k8s/bcs-k8s-driver/kubedriver/custom/node.go
  bcs-k8s/bcs-k8s-driver/kubedriver/custom/router.go
  bcs-k8s/bcs-k8s-driver/kubedriver/custom/types.go
  bcs-k8s/bcs-k8s-driver/kubedriver/custom/utils.go
  bcs-mesos/bcs-container-executor/app/bcs_executor.go
  bcs-mesos/bcs-container-executor/app/bcs_handler.go
  bcs-services/bcs-api/filter/auth_filter.go
  bcs-services/bcs-api/filter/filter.go
Labels: confirmed, document, inner
