Repository TencentBlueKing/bk-bcs, pull requests merged in 2021-06, with the labels that each got.

#912 feature: add keepDuration in cloudip, add status in ElasticNetworkInterface issue #911
  bcs-k8s/kubernetes/apis/cloud/v1/cloudip_types.go
  bcs-k8s/kubernetes/apis/cloud/v1/cloudsubnet_types.go
  bcs-k8s/kubernetes/apis/cloud/v1/nodenetwork_types.go
  bcs-k8s/kubernetes/config/crd/bases/cloud.bkbcs.tencent.com_cloudips.yaml
  bcs-k8s/kubernetes/config/crd/bases/cloud.bkbcs.tencent.com_cloudsubnets.yaml
  bcs-k8s/kubernetes/config/crd/bases/cloud.bkbcs.tencent.com_nodenetworks.yaml
Labels: confirmed, feature, inner, k8s

#908 change mongo driver to 1.4.x; change cluster manager return code to digital; add region field to quota info; fix clusterops error when cluster has multiple master nodes
  bcs-common/go.mod
  bcs-common/pkg/odm/drivers/mongo/mongo.go
  bcs-mesos/bcs-scheduler/src/manager/sched/scheduler/trans_launchapp.go
  bcs-services/bcs-cluster-manager/api/clustermanager/clustermanager.pb.go
  bcs-services/bcs-cluster-manager/api/clustermanager/clustermanager.pb.validate.go
  bcs-services/bcs-cluster-manager/api/clustermanager/clustermanager.proto
  bcs-services/bcs-cluster-manager/api/clustermanager/clustermanager.swagger.json
  bcs-services/bcs-cluster-manager/go.mod
  bcs-services/bcs-cluster-manager/internal/actions/cluster/create.go
  bcs-services/bcs-cluster-manager/internal/actions/cluster/delete.go
  bcs-services/bcs-cluster-manager/internal/actions/cluster/federatecluster.go
  bcs-services/bcs-cluster-manager/internal/actions/cluster/get.go
  bcs-services/bcs-cluster-manager/internal/actions/cluster/list.go
  bcs-services/bcs-cluster-manager/internal/actions/cluster/update.go
  bcs-services/bcs-cluster-manager/internal/actions/clustercredential/delete.go
  bcs-services/bcs-cluster-manager/internal/actions/clustercredential/get.go
  bcs-services/bcs-cluster-manager/internal/actions/clustercredential/list.go
  bcs-services/bcs-cluster-manager/internal/actions/clustercredential/update.go
  bcs-services/bcs-cluster-manager/internal/actions/namespace/create.go
  bcs-services/bcs-cluster-manager/internal/actions/namespace/createquota.go
  bcs-services/bcs-cluster-manager/internal/actions/namespace/delete.go
  bcs-services/bcs-cluster-manager/internal/actions/namespace/get.go
  bcs-services/bcs-cluster-manager/internal/actions/namespace/list.go
  bcs-services/bcs-cluster-manager/internal/actions/namespace/update.go
  bcs-services/bcs-cluster-manager/internal/actions/namespacequota/create.go
  bcs-services/bcs-cluster-manager/internal/actions/namespacequota/delete.go
  bcs-services/bcs-cluster-manager/internal/actions/namespacequota/get.go
  bcs-services/bcs-cluster-manager/internal/actions/namespacequota/list.go
  bcs-services/bcs-cluster-manager/internal/actions/namespacequota/update.go
  bcs-services/bcs-cluster-manager/internal/clusterops/clusterclient.go
  bcs-services/bcs-cluster-manager/internal/types/types.go
Labels: bug, confirmed, inner, service

#913 feature: bcs-common init tracing package; #907
  bcs-common/common/http/httpserver/server.go
  bcs-common/go.mod
  bcs-common/pkg/odm/drivers/db.go
  bcs-common/pkg/odm/drivers/memory/memory.go
  bcs-common/pkg/odm/drivers/mongo/mongo.go
  bcs-common/pkg/tracing/jaeger/jaeger.go
  bcs-common/pkg/tracing/jaeger/options.go
  bcs-common/pkg/tracing/micro/opentracing.go
  bcs-common/pkg/tracing/micro/opentracing_test.go
  bcs-common/pkg/tracing/micro/proto/build-proto.sh
  bcs-common/pkg/tracing/micro/proto/greeter.pb.go
  bcs-common/pkg/tracing/micro/proto/greeter.pb.micro.go
  bcs-common/pkg/tracing/micro/proto/greeter.proto
  bcs-common/pkg/tracing/options.go
  bcs-common/pkg/tracing/otgrpc/client.go
  bcs-common/pkg/tracing/otgrpc/client_test.go
  bcs-common/pkg/tracing/otgrpc/errors.go
  bcs-common/pkg/tracing/otgrpc/hello/build-proto.sh
  bcs-common/pkg/tracing/otgrpc/hello/helloworld.pb.go
  bcs-common/pkg/tracing/otgrpc/hello/helloworld.proto
  bcs-common/pkg/tracing/otgrpc/options.go
  bcs-common/pkg/tracing/otgrpc/server.go
  bcs-common/pkg/tracing/otgrpc/server_test.go
  bcs-common/pkg/tracing/restful/ot_filter.go
  bcs-common/pkg/tracing/restful/ot_filter_test.go
  bcs-common/pkg/tracing/tracing.go
  bcs-common/pkg/tracing/tracing_test.go
  bcs-common/pkg/tracing/utils/span.go
  bcs-common/pkg/tracing/utils/span_test.go
  bcs-common/pkg/tracing/utils/utils.go
Labels: confirmed, feature, inner, service

#917 makefile更新
  bcs-k8s/bcs-k8s-driver/Makefile
  bcs-network/Makefile
  bcs-services/bcs-cluster-manager/Makefile
Labels: bug, confirmed, inner

#918 bkunifylogbeat 适配
  bcs-services/bcs-logbeat-sidecar/app/app.go
  bcs-services/bcs-logbeat-sidecar/app/options/options.go
  bcs-services/bcs-logbeat-sidecar/config/config.go
  bcs-services/bcs-logbeat-sidecar/sidecar/controller.go
  bcs-services/bcs-logbeat-sidecar/sidecar/logconfop_linux.go
  bcs-services/bcs-logbeat-sidecar/types/types.go
Labels: confirmed, feature, inner, service

#923 Fea mesos
  bcs-services/bcs-client/cmd/agent/agent_setting.go
  bcs-services/bcs-client/cmd/agent/list.go
  bcs-services/bcs-client/cmd/agent/list_test.go
  docs/features/bcs-client/bcs-client_HANDBOOK.md
Labels: confirmed, feature, inner, mesos

#927 fix: randport add hostIP env of BCS_RANDHOSTPORT_HOSTIP by default
  bcs-services/bcs-webhook-server/internal/plugin/randhostport/randhostport.go
  bcs-services/bcs-webhook-server/internal/plugin/randhostport/types.go
Labels: confirmed, feature, inner, k8s

#926 bcs opentracing storage module
  bcs-mesos/bcs-mesos-driver/mesosdriver/mesosdriver.go
  bcs-services/bcs-storage/app/options/options.go
  bcs-services/bcs-storage/app/server.go
  bcs-services/bcs-storage/storage/actions/lib/store.go
  bcs-services/bcs-storage/storage/actions/v1http/alarms/alarms-action.go
  bcs-services/bcs-storage/storage/actions/v1http/clusterconfig/clusterconfig-actions.go
  bcs-services/bcs-storage/storage/actions/v1http/dynamic/dynamic.go
  bcs-services/bcs-storage/storage/actions/v1http/dynamicquery/dynamic-action.go
  bcs-services/bcs-storage/storage/actions/v1http/events/events-action.go
  bcs-services/bcs-storage/storage/actions/v1http/hostconfig/hostConfig-action.go
  bcs-services/bcs-storage/storage/actions/v1http/metric/metric-action.go
  bcs-services/bcs-storage/storage/actions/v1http/utils/utils.go
  bcs-services/bcs-storage/storage/actions/v1http/watchk8smesos/watch-action.go
  bcs-services/bcs-storage/storage/storage.go
  docs/features/open-tracing/tracing-pics/opentracing.png
  docs/features/open-tracing/tracing接入规范.md
  go.mod
  install/conf/bcs-services/bcs-storage/bcs-storage.json.template
Labels: confirmed, feature, inner, service

#925 feature: adapt bcs-cpuset-device to kubernetes #924
  bcs-mesos/bcs-scheduler/src/manager/store/zk/agent.go
  bcs-services/bcs-cpuset-device/app/app.go
  bcs-services/bcs-cpuset-device/app/options/options.go
  bcs-services/bcs-cpuset-device/config/config.go
  bcs-services/bcs-cpuset-device/cpuset-device/container.go
  bcs-services/bcs-cpuset-device/cpuset-device/manager.go
  docs/features/bcs-cpuset-device/deploy/helm/bcs-cpuset-device/.helmignore
  docs/features/bcs-cpuset-device/deploy/helm/bcs-cpuset-device/Chart.yaml
  docs/features/bcs-cpuset-device/deploy/helm/bcs-cpuset-device/templates/_helpers.tpl
  docs/features/bcs-cpuset-device/deploy/helm/bcs-cpuset-device/templates/daemonset.yaml
  docs/features/bcs-cpuset-device/deploy/helm/bcs-cpuset-device/values.yaml
  docs/features/bcs-webhook-server/plugins/randhostport/design.md
  install/conf/bcs-mesos-node/bcs-cpuset-device/bcs-cpuset-device.json.template
Labels: confirmed, feature, inner, k8s

#929 fix: make cni delete and bcs-ipam release ip action reentrant, issue #928
  bcs-network/qcloud-eip/eip/eip.go
  bcs-services/bcs-netservice/bcs-ipam/resource/netdriver/net_driver.go
Labels: confirmed, feature, inner, service

#933 feature: add field in scheduler common data type; #issue 932
  bcs-common/pkg/scheduler/schetypes/application.go
  bcs-common/pkg/scheduler/schetypes/offer.go
  bcs-common/pkg/scheduler/schetypes/transaction.go
Labels: confirmed, feature, inner, service

#931 fix: bcs-hook-operator omits provider with type prometheus. fix #930
  bcs-k8s/bcs-hook-operator/pkg/util/hook/hooks.go
Labels: bug, confirmed, inner, k8s

#935 feature: bcs-mesos support taskgroup update resource without restart #932
  bcs-mesos/bcs-mesos-driver/mesosdriver/backend/v4http/deployment.go
  bcs-mesos/bcs-mesos-driver/mesosdriver/backend/v4http/scheduler-api.go
  bcs-mesos/bcs-scheduler/go.mod
  bcs-mesos/bcs-scheduler/src/manager/sched/api/api.go
  bcs-mesos/bcs-scheduler/src/manager/sched/backend/cluster.go
  bcs-mesos/bcs-scheduler/src/manager/sched/backend/create_application.go
  bcs-mesos/bcs-scheduler/src/manager/sched/backend/delete_application.go
  bcs-mesos/bcs-scheduler/src/manager/sched/backend/deployment.go
  bcs-mesos/bcs-scheduler/src/manager/sched/backend/interface.go
  bcs-mesos/bcs-scheduler/src/manager/sched/backend/scale_application.go
  bcs-mesos/bcs-scheduler/src/manager/sched/backend/taskgroup.go
  bcs-mesos/bcs-scheduler/src/manager/sched/backend/update_application.go
  bcs-mesos/bcs-scheduler/src/manager/sched/scheduler/deployment.go
  bcs-mesos/bcs-scheduler/src/manager/sched/scheduler/scheduler.go
  bcs-mesos/bcs-scheduler/src/manager/sched/scheduler/trans_updateapp_resource.go
  bcs-mesos/bcs-scheduler/src/manager/sched/scheduler/trans_updatedep_resource.go
  bcs-mesos/bcs-scheduler/src/manager/sched/scheduler/transaction.go
  bcs-mesos/bcs-scheduler/src/manager/sched/scheduler/update.go
  bcs-mesos/bcs-scheduler/src/manager/sched/utils/utils.go
  bcs-services/bcs-client/cmd/offer/offer.go
  bcs-services/bcs-client/cmd/update/deployment.go
  bcs-services/bcs-client/go.mod
  bcs-services/bcs-client/pkg/scheduler/v4/scheduler.go
  bcs-services/bcs-client/pkg/scheduler/v4/scheduler_offer.go
  docs/features/bcs-scheduler/imgs/update-resource-online.drawio
  docs/features/bcs-scheduler/imgs/update-resource-online.png
  docs/features/bcs-scheduler/inplace-update-resource.md
Labels: confirmed, feature, inner, mesos
