Repository TencentBlueKing/bk-bcs, pull requests merged in 2021-03, with the labels that each got.

#798 fix: make storage dynamic delete interface reentrant; issue #797
  bcs-services/bcs-storage/storage/actions/v1http/dynamic/utils.go
Labels: bug, confirmed, inner, service

#799 fix: clean user-manager zookeeper discovery, issue #713
  bcs-services/bcs-user-manager/app/app.go
  bcs-services/bcs-user-manager/app/user-manager/user-manager.go
  bcs-services/bcs-user-manager/config/config.go
  bcs-services/bcs-user-manager/options/options.go
  go.mod
Labels: confirmed, inner, service

#800 fix: api-gateway lua err, issue #713
  bcs-services/bcs-gateway-discovery/plugins/apisix/bkbcs-auth/bkbcs.lua
Labels: bug, confirmed, inner

#810 docs: add bcs-cpuset-device daemonset deployment files; issue #806
  Makefile
  bcs-services/bcs-cpuset-device/app/app.go
  bcs-services/bcs-cpuset-device/app/options/options.go
  bcs-services/bcs-cpuset-device/config/config.go
  bcs-services/bcs-cpuset-device/cpuset-device/container.go
  bcs-services/bcs-cpuset-device/cpuset-device/manager.go
  bcs-services/bcs-cpuset-device/cpuset-device/numa.go
  docs/features/bcs-cpuset-device/bcs-cpuset-device.md
  docs/features/bcs-cpuset-device/deploy/bcs-cpuset-daemon.json
  docs/features/bcs-cpuset-device/imgs/bcs-cpuset-device-architecture.drawio
  docs/features/bcs-cpuset-device/imgs/bcs-cpuset-device-architecture.png
  install/conf/bcs-mesos-node/bcs-cpuset-device/Dockerfile
  install/conf/bcs-mesos-node/bcs-cpuset-device/bcs-cpuset-device.json.template
  install/conf/bcs-mesos-node/bcs-cpuset-device/container-start.sh
Labels: confirmed, inner, mesos, scheduler

#803 @abstractmj fix: modify randhostport plugin design markdown file; issue #802
  bcs-services/bcs-cluster-manager/cidrmigrationtool/main.go
  bcs-services/bcs-cluster-manager/internal/tkehandler/tke.go
  bcs-services/bcs-webhook-server/internal/plugin/bscp/types.go
  bcs-services/bcs-webhook-server/internal/plugin/randhostport/cache.go
  bcs-services/bcs-webhook-server/internal/plugin/randhostport/cache_test.go
  bcs-services/bcs-webhook-server/internal/plugin/randhostport/randhostport.go
  bcs-services/bcs-webhook-server/internal/plugin/randhostport/randhostport_test.go
  bcs-services/bcs-webhook-server/internal/plugin/randhostport/types.go
  bcs-services/bcs-webhook-server/internal/plugin/randhostport/utils.go
  bcs-services/bcs-webhook-server/internal/server/init.go
  docs/features/bcs-webhook-server/deploy/helm/bcs-webhook-server/templates/clusterrole.yaml
  docs/features/bcs-webhook-server/deploy/helm/bcs-webhook-server/templates/configmap.yaml
  docs/features/bcs-webhook-server/deploy/helm/bcs-webhook-server/templates/deployment.yaml
  docs/features/bcs-webhook-server/deploy/helm/bcs-webhook-server/values.yaml
  docs/features/bcs-webhook-server/plugins/randhostport/design.md
  docs/features/bcs-webhook-server/plugins/randhostport/imgs/randhostport-architecture.drawio
  docs/features/bcs-webhook-server/plugins/randhostport/imgs/randhostport-architecture.png
  docs/features/bcs-webhook-server/plugins/randhostport/imgs/randhostport-portallocate.drawio
  docs/features/bcs-webhook-server/plugins/randhostport/imgs/randhostport-portallocate.png
  install/conf/bcs-services/bcs-webhook-server/container-start.sh
Labels: confirmed, feature, inner, k8s

#821 feature: add reserved cpuset list flag for bcs-cpuset-device; issue #820
  bcs-services/bcs-cpuset-device/app/app.go
  bcs-services/bcs-cpuset-device/app/options/options.go
  bcs-services/bcs-cpuset-device/config/config.go
  bcs-services/bcs-cpuset-device/cpuset-device/container.go
  bcs-services/bcs-cpuset-device/cpuset-device/manager.go
  bcs-services/bcs-cpuset-device/types/types.go
  docs/features/bcs-cpuset-device/bcs-cpuset-device.md
  docs/features/bcs-cpuset-device/deploy/bcs-cpuset-daemon.json
  install/conf/bcs-mesos-node/bcs-cpuset-device/bcs-cpuset-device.json.template
Labels: confirmed, feature, inner, mesos, service

#815 bcs-k8s-watch & bcs-mesos-watch 管理metrics性能指标
  bcs-k8s/bcs-k8s-watch/app/app.go
  bcs-k8s/bcs-k8s-watch/app/bcs/cluster.go
  bcs-k8s/bcs-k8s-watch/app/bcs/httpServer.go
  bcs-k8s/bcs-k8s-watch/app/bcs/service.go
  bcs-k8s/bcs-k8s-watch/app/k8s/manager.go
  bcs-k8s/bcs-k8s-watch/app/options/options.go
  bcs-k8s/bcs-k8s-watch/app/output/action/storage.go
  bcs-k8s/bcs-k8s-watch/app/output/handler.go
  bcs-k8s/bcs-k8s-watch/app/output/http/client.go
  bcs-k8s/bcs-k8s-watch/app/output/http/client_test.go
  bcs-k8s/bcs-k8s-watch/app/output/writer.go
  bcs-k8s/bcs-k8s-watch/go.mod
  bcs-k8s/bcs-k8s-watch/pkg/metrics/metrics.go
  bcs-mesos/bcs-mesos-watch/app/watch.go
  bcs-mesos/bcs-mesos-watch/cluster/cluster.go
  bcs-mesos/bcs-mesos-watch/cluster/etcd/app.go
  bcs-mesos/bcs-mesos-watch/cluster/etcd/cluster.go
  bcs-mesos/bcs-mesos-watch/cluster/etcd/configmap.go
  bcs-mesos/bcs-mesos-watch/cluster/etcd/deployment.go
  bcs-mesos/bcs-mesos-watch/cluster/etcd/exportservice.go
  bcs-mesos/bcs-mesos-watch/cluster/etcd/netservice.go
  bcs-mesos/bcs-mesos-watch/cluster/etcd/service.go
  bcs-mesos/bcs-mesos-watch/cluster/etcd/taskgroup.go
  bcs-mesos/bcs-mesos-watch/cluster/mesos/app.go
  bcs-mesos/bcs-mesos-watch/cluster/mesos/configmap.go
  bcs-mesos/bcs-mesos-watch/cluster/mesos/deployment.go
  bcs-mesos/bcs-mesos-watch/cluster/mesos/endpoint.go
  bcs-mesos/bcs-mesos-watch/cluster/mesos/exportservice.go
  bcs-mesos/bcs-mesos-watch/cluster/mesos/mesos.go
  bcs-mesos/bcs-mesos-watch/cluster/mesos/service.go
  bcs-mesos/bcs-mesos-watch/cluster/mesos/taskgroup.go
  bcs-mesos/bcs-mesos-watch/cluster/types.go
  bcs-mesos/bcs-mesos-watch/storage/app.go
  bcs-mesos/bcs-mesos-watch/storage/cc.go
  bcs-mesos/bcs-mesos-watch/storage/channelproxy.go
  bcs-mesos/bcs-mesos-watch/storage/configmap.go
  bcs-mesos/bcs-mesos-watch/storage/deployment.go
  bcs-mesos/bcs-mesos-watch/storage/endpoint.go
  bcs-mesos/bcs-mesos-watch/storage/exportservice.go
  bcs-mesos/bcs-mesos-watch/storage/netservice.go
  bcs-mesos/bcs-mesos-watch/storage/secret.go
  bcs-mesos/bcs-mesos-watch/storage/service.go
  bcs-mesos/bcs-mesos-watch/storage/storage.go
  bcs-mesos/bcs-mesos-watch/storage/taskgroup.go
  bcs-mesos/bcs-mesos-watch/storage/types.go
  bcs-mesos/bcs-mesos-watch/util/metrics.go
  bcs-services/bcs-alert-manager/cmd/app.go
  bcs-services/bcs-alert-manager/cmd/pkgs/consumers.go
  bcs-services/bcs-alert-manager/pkg/handler/eventhandler/handler.go
  bcs-services/bcs-alert-manager/pkg/remote/metrics/metrics.go
  bcs-services/bcs-alert-manager/pkg/server/service/server.go
  bcs-services/bcs-alert-manager/pkg/types/errors.go
  bcs-services/bcs-alert-manager/pkg/types/types.go
  bcs-services/bcs-alert-manager/pkg/utils/concurrency/concurrency.go
  install/conf/bcs-k8s-master/bcs-k8s-watch/bcs-k8s-watch.json.template
Labels: confirmed, feature, inner, service

#826 docs: bcs-alert-manager module design docs and bcs-k8s-watch/bcs-stor…
  docs/features/bcs-alert-manager/bcs-alert-manager.md
  docs/features/bcs-alert-manager/deploy/bcs-alert-manager/.helmignore
  docs/features/bcs-alert-manager/deploy/bcs-alert-manager/Chart.yaml
  docs/features/bcs-alert-manager/deploy/bcs-alert-manager/templates/_helpers.tpl
  docs/features/bcs-alert-manager/deploy/bcs-alert-manager/templates/deployment.yaml
  docs/features/bcs-alert-manager/deploy/bcs-alert-manager/values.yaml
  docs/features/bcs-alert-manager/img/bcs-alert-manager架构图.png
  docs/features/bcs-alert-manager/img/informer.png
  docs/features/bcs-alert-manager/img/rule.png
  docs/features/prometheus/bcs-k8s-watch.md
  docs/features/prometheus/bcs-storage.md
Labels: confirmed, document, inner, service

#819 Feature: bcs-storage optimize metrics data; issue #816
  bcs-k8s/bcs-k8s-watch/app/output/action/storage.go
  bcs-services/bcs-storage/storage/actions/lib/process.go
  bcs-services/bcs-storage/storage/actions/lib/watch.go
  bcs-services/bcs-storage/storage/actions/utils/metrics/metrics.go
  bcs-services/bcs-storage/storage/actions/utils/metrics/prometheus.go
  bcs-services/bcs-storage/storage/actions/utils/metrics/record.go
  bcs-services/bcs-storage/storage/actions/utils/middle/metrics_middle.go
  bcs-services/bcs-storage/storage/actions/v1http/dynamic/utils.go
  bcs-services/bcs-storage/storage/actions/v1http/events/utils.go
  bcs-services/bcs-storage/storage/storage.go
Labels: confirmed, feature, inner, service

#822 feature: add env BCS_CPUSET_RESERVED_LAST_CORE_NUM; issue #820
  docs/features/bcs-cpuset-device/bcs-cpuset-device.md
  docs/features/bcs-cpuset-device/deploy/bcs-cpuset-daemon.json
  install/conf/bcs-mesos-node/bcs-cpuset-device/Dockerfile
  install/conf/bcs-mesos-node/bcs-cpuset-device/container-start.sh
  install/conf/bcs-mesos-node/bcs-cpuset-device/reserve_cores.py
Labels: confirmed, feature, inner, service

#830 fix: add tencent header for reserve_cores.py; issue #820
  install/conf/bcs-mesos-node/bcs-cpuset-device/reserve_cores.py
Labels: confirmed, discussion, inner
