Repository TencentBlueKing/bk-bcs, pull requests merged in 2021-04, with the labels that each got.

#835 fix: reduce event metrics for bcs-loadbalance; fix format of some com…
  bcs-services/bcs-loadbalance/app/eventprocessor.go
  bcs-services/bcs-loadbalance/app/metric.go
  bcs-services/bcs-loadbalance/option/option.go
  bcs-services/bcs-loadbalance/template/haproxy/exporter.go
  bcs-services/bcs-loadbalance/template/haproxy/haproxy.go
  bcs-services/bcs-loadbalance/template/haproxy/runtime_client.go
  bcs-services/bcs-loadbalance/template/haproxy/status.go
Labels: confirmed, feature, inner, network

#824 切换bcs-k8s-watch和bcs-mesos-scheduler组件报警方式
  bcs-k8s/bcs-k8s-watch/app/app.go
  bcs-k8s/bcs-k8s-watch/app/k8s/watcher.go
  bcs-k8s/bcs-k8s-watch/app/output/writer.go
  bcs-mesos/bcs-scheduler/src/manager/manager.go
  bcs-mesos/bcs-scheduler/src/manager/remote/alertmanager/alert.go
  bcs-mesos/bcs-scheduler/src/manager/remote/alertmanager/alert_test.go
  bcs-mesos/bcs-scheduler/src/manager/remote/alertmanager/types.go
  bcs-mesos/bcs-scheduler/src/manager/sched/sched.go
  bcs-mesos/bcs-scheduler/src/manager/sched/scheduler/scheduler.go
  bcs-mesos/bcs-scheduler/src/manager/schedcontext/schedcontext.go
  bcs-mesos/bcs-scheduler/src/util/config.go
  bcs-mesos/bcs-scheduler/src/util/metrics.go
  bcs-services/bcs-alert-manager/cmd/app.go
  bcs-services/bcs-alert-manager/main.go
  bcs-services/bcs-alert-manager/pkg/handler/eventhandler/handler.go
  bcs-services/bcs-alert-manager/pkg/proto/alertmanager/alertmanager.pb.go
  bcs-services/bcs-alert-manager/pkg/proto/alertmanager/alertmanager.pb.validate.go
  bcs-services/bcs-alert-manager/pkg/proto/alertmanager/alertmanager.proto
  bcs-services/bcs-alert-manager/pkg/proto/alertmanager/alertmanager.swagger.json
  bcs-services/bcs-alert-manager/pkg/remote/alert/alert.go
  bcs-services/bcs-alert-manager/pkg/remote/alert/alert_test.go
  bcs-services/bcs-alert-manager/pkg/remote/alert/types.go
  bcs-services/bcs-alert-manager/pkg/server/actions/alert.go
  bcs-services/bcs-storage/storage/actions/v1http/events/utils.go
  go.mod
  install/conf/bcs-k8s-master/bcs-k8s-watch/bcs-k8s-watch.json.template
  install/conf/bcs-mesos-master/bcs-scheduler/bcs-scheduler.json.template
  install/conf/bcs-services/bcs-alert-manager/Dockerfile
  install/conf/bcs-services/bcs-alert-manager/bcs-alert-manager.json.template
Labels: confirmed, feature, inner, service

#838 Feature: bcs-storage & bcs-alert-manager rabbitmq queue encrypt passw…
  bcs-services/bcs-alert-manager/cmd/pkgs/queue.go
  bcs-services/bcs-storage/storage/apiserver/queueOptions.go
Labels: confirmed, feature, inner, service

#839 非标准metric模块接入bcs-api-gateway
  bcs-services/bcs-gateway-discovery/app/adapter.go
  install/conf/bcs-services/bcs-gateway-discovery/bcs-gateway-discovery.json.template
Labels: confirmed, feature, inner, service

#841 feature: storage watch api support returning data in delete event; issue #840
  bcs-services/bcs-storage/storage/actions/lib/store.go
  bcs-services/bcs-storage/storage/actions/utils/metrics/metrics.go
  bcs-services/bcs-storage/storage/actions/v1http/dynamic/utils.go
  bcs-services/bcs-storage/storage/actions/v1http/dynamicquery/utils.go
  bcs-services/bcs-storage/storage/actions/v1http/dynamicwatch/utils.go
  bcs-services/bcs-storage/storage/actions/v1http/metric/utils.go
Labels: bug, confirmed, inner, service

#845 fix: cluster manager support duplicate key error; issue #738
  bcs-services/bcs-cluster-manager/go.mod
  bcs-services/bcs-cluster-manager/internal/actions/cluster/create.go
  bcs-services/bcs-cluster-manager/internal/actions/namespace/create.go
  bcs-services/bcs-cluster-manager/internal/actions/namespace/createquota.go
  bcs-services/bcs-cluster-manager/internal/types/errors.go
Labels: confirmed, inner, service

#844 fix: cluster manager support duplicate key error; issue #738
  bcs-services/bcs-cluster-manager/go.mod
  bcs-services/bcs-cluster-manager/internal/actions/cluster/create.go
  bcs-services/bcs-cluster-manager/internal/actions/namespace/create.go
  bcs-services/bcs-cluster-manager/internal/actions/namespace/createquota.go
  bcs-services/bcs-cluster-manager/internal/types/errors.go
Labels: confirmed, inner, service

#848 下线AppInstanceHistory接口
  bmsf-configuration/api/esb/apidocs/en/get_effected_app_instance_list.md
  bmsf-configuration/api/esb/apidocs/en/get_history_app_instance_list.md
  bmsf-configuration/api/esb/apidocs/zh_hans/get_effected_app_instance_list.md
  bmsf-configuration/api/esb/apidocs/zh_hans/get_history_app_instance_list.md
  bmsf-configuration/api/esb/ee/bscp.yaml
  bmsf-configuration/api/esb/oa/bscp.yaml
  bmsf-configuration/api/swagger/config.swagger.json
  bmsf-configuration/cmd/atomic-services/bscp-configserver/actions/appinstance/effected.go
  bmsf-configuration/cmd/atomic-services/bscp-configserver/actions/appinstance/history.go
  bmsf-configuration/cmd/atomic-services/bscp-configserver/service/rpcs.go
  bmsf-configuration/cmd/atomic-services/bscp-datamanager/actions/appinstance/history.go
  bmsf-configuration/cmd/atomic-services/bscp-datamanager/actions/appinstance/matched.go
  bmsf-configuration/cmd/atomic-services/bscp-datamanager/service/rpcs.go
  bmsf-configuration/internal/protocol/common/common.pb.go
  bmsf-configuration/internal/protocol/common/common.proto
  bmsf-configuration/internal/protocol/configserver/configserver.pb.go
  bmsf-configuration/internal/protocol/configserver/configserver.pb.gw.go
  bmsf-configuration/internal/protocol/configserver/configserver.proto
  bmsf-configuration/internal/protocol/configserver/configserver.swagger.json
  bmsf-configuration/internal/protocol/datamanager/datamanager.pb.go
  bmsf-configuration/internal/protocol/datamanager/datamanager.proto
  bmsf-configuration/internal/types/types.go
Labels: confirmed, feature, inner, service

#853 fix: fix put function of storage; issue #840
  bcs-services/bcs-storage/storage/actions/lib/store.go
Labels: bug, confirmed, inner, service

#855 bcs-storage: custom-resources CRUD & labelSelector support
  bcs-services/bcs-storage/storage/actions/lib/restreq.go
  bcs-services/bcs-storage/storage/actions/lib/selector.go
  bcs-services/bcs-storage/storage/actions/lib/store.go
  bcs-services/bcs-storage/storage/actions/utils/metrics/metrics.go
  bcs-services/bcs-storage/storage/actions/v1http/dynamic/dynamic.go
  bcs-services/bcs-storage/storage/actions/v1http/dynamic/utils.go
Labels: confirmed, feature, inner, service

#863 bcs-common/pkg/esb/client 支持自定义transport和随机访问endpoints
  bcs-common/pkg/esb/client/client.go
  bcs-common/pkg/esb/client/request.go
Labels: feature, inner, service

#861 fix: move device allocation logic to executor; update device plugin i…
  bcs-mesos/bcs-container-executor/app/bcs_executor.go
  bcs-mesos/bcs-container-executor/app/option.go
  bcs-mesos/bcs-container-executor/container/cni/cni_pod.go
  bcs-mesos/bcs-container-executor/container/cnm/cnm_pod.go
  bcs-mesos/bcs-container-executor/devicepluginmanager/plugin_manager.go
  bcs-mesos/bcs-container-executor/devicepluginmanager/resource_manager.go
  bcs-mesos/bcs-container-executor/devicepluginmanager/resource_manager_test.go
  bcs-mesos/bcs-container-executor/extendedresource/driver.go
  bcs-mesos/bcs-container-executor/extendedresource/driver_test.go
  bcs-services/bcs-cpuset-device/app/app.go
  bcs-services/bcs-cpuset-device/cpuset-device/container.go
  bcs-services/bcs-cpuset-device/cpuset-device/manager.go
  bcs-services/bcs-cpuset-device/types/types.go
  go.mod
Labels: confirmed, feature, inner, mesos

#866 feature: supports that allow different protocol on same port for clb; issue #865
  bcs-network/bcs-ingress-controller/internal/cloud/interface.go
  bcs-network/bcs-ingress-controller/internal/cloud/tencentcloud/clb.go
  bcs-network/bcs-ingress-controller/internal/cloud/tencentcloud/helper.go
  bcs-network/bcs-ingress-controller/internal/cloud/tencentcloud/validate.go
  bcs-network/bcs-ingress-controller/internal/constant/constant.go
  bcs-network/bcs-ingress-controller/internal/generator/ingressconverter.go
  bcs-network/bcs-ingress-controller/internal/generator/ingressconverter_test.go
  bcs-network/bcs-ingress-controller/internal/generator/ruleconverter.go
  bcs-network/bcs-ingress-controller/internal/generator/util.go
  bcs-network/bcs-ingress-controller/internal/option/option.go
  bcs-network/bcs-ingress-controller/main.go
Labels: confirmed, feature, inner, network

#867 docs: update v1.20.10, issue #0
  docs/version/1.20.x.md
Labels: document, inner

#868 Feature/bcs federated apiserver 3
  Makefile
  bcs-k8s/bcs-federated-apiserver/BUILD.bazel
  bcs-k8s/bcs-federated-apiserver/PROJECT
  bcs-k8s/bcs-federated-apiserver/WORKSPACE
  bcs-k8s/bcs-federated-apiserver/boilerplate.go.txt
  bcs-k8s/bcs-federated-apiserver/cmd/apiserver/main.go
  bcs-k8s/bcs-federated-apiserver/cmd/kubectl-agg/main.go
  bcs-k8s/bcs-federated-apiserver/go.mod
  bcs-k8s/bcs-federated-apiserver/pkg/apis/aggregation/install/doc.go
  bcs-k8s/bcs-federated-apiserver/pkg/apis/aggregation/install/zz_generated.api.register.go
  bcs-k8s/bcs-federated-apiserver/pkg/apis/aggregation/podaggregation_rest.go
  bcs-k8s/bcs-federated-apiserver/pkg/apis/aggregation/v1alpha1/podaggregation_types.go
  bcs-k8s/bcs-federated-apiserver/pkg/apis/aggregation/v1alpha1/zz_generated.api.register.go
  bcs-k8s/bcs-federated-apiserver/pkg/apis/aggregation/v1alpha1/zz_generated.conversion.go
  bcs-k8s/bcs-federated-apiserver/pkg/apis/aggregation/v1alpha1/zz_generated.deepcopy.go
  bcs-k8s/bcs-federated-apiserver/pkg/apis/aggregation/zz_generated.api.register.go
  bcs-k8s/bcs-federated-apiserver/pkg/apis/aggregation/zz_generated.deepcopy.go
  bcs-k8s/bcs-federated-apiserver/pkg/apis/zz_generated.api.register.go
  bcs-k8s/bcs-federated-apiserver/pkg/bcs-storage/http.go
  bcs-k8s/bcs-federated-apiserver/pkg/client/clientset_generated/clientset/clientset.go
  bcs-k8s/bcs-federated-apiserver/pkg/client/clientset_generated/clientset/doc.go
  bcs-k8s/bcs-federated-apiserver/pkg/client/clientset_generated/clientset/fake/clientset_generated.go
  bcs-k8s/bcs-federated-apiserver/pkg/client/clientset_generated/clientset/fake/doc.go
  bcs-k8s/bcs-federated-apiserver/pkg/client/clientset_generated/clientset/fake/register.go
  bcs-k8s/bcs-federated-apiserver/pkg/client/clientset_generated/clientset/scheme/doc.go
  bcs-k8s/bcs-federated-apiserver/pkg/client/clientset_generated/clientset/scheme/register.go
  bcs-k8s/bcs-federated-apiserver/pkg/client/clientset_generated/clientset/typed/aggregation/v1alpha1/aggregation_client.go
  bcs-k8s/bcs-federated-apiserver/pkg/client/clientset_generated/clientset/typed/aggregation/v1alpha1/doc.go
  bcs-k8s/bcs-federated-apiserver/pkg/client/clientset_generated/clientset/typed/aggregation/v1alpha1/fake/doc.go
  bcs-k8s/bcs-federated-apiserver/pkg/client/clientset_generated/clientset/typed/aggregation/v1alpha1/fake/fake_aggregation_client.go
  bcs-k8s/bcs-federated-apiserver/pkg/client/clientset_generated/clientset/typed/aggregation/v1alpha1/fake/fake_podaggregation.go
  bcs-k8s/bcs-federated-apiserver/pkg/client/clientset_generated/clientset/typed/aggregation/v1alpha1/generated_expansion.go
  bcs-k8s/bcs-federated-apiserver/pkg/client/clientset_generated/clientset/typed/aggregation/v1alpha1/podaggregation.go
  bcs-k8s/bcs-federated-apiserver/pkg/client/listers_generated/aggregation/v1alpha1/expansion_generated.go
  bcs-k8s/bcs-federated-apiserver/pkg/client/listers_generated/aggregation/v1alpha1/podaggregation.go
  bcs-k8s/bcs-federated-apiserver/pkg/configuration/cluster.go
  bcs-k8s/bcs-federated-apiserver/pkg/configuration/configmap.go
  bcs-k8s/bcs-federated-apiserver/pkg/configuration/storage.go
  bcs-k8s/bcs-federated-apiserver/pkg/kubectl-agg/pod.go
  bcs-k8s/bcs-federated-apiserver/pkg/kubectl-agg/utils.go
  bcs-k8s/bcs-federated-apiserver/pkg/openapi/openapi_generated.go
  bcs-k8s/bcs-federated-apiserver/pkg/utils/utils.go
  bcs-k8s/bcs-federated-apiserver/violations.report
  docs/features/bcs-federated-apiserver/deploy-guide.md
  docs/features/bcs-federated-apiserver/develop-guide.md
  docs/features/bcs-federated-apiserver/helm-chart/Chart.yaml
  docs/features/bcs-federated-apiserver/helm-chart/templates/0-namespace.yaml
  docs/features/bcs-federated-apiserver/helm-chart/templates/1-rbac.yaml
  docs/features/bcs-federated-apiserver/helm-chart/templates/2-configmap.yaml
  docs/features/bcs-federated-apiserver/helm-chart/templates/3-deployment.yaml
  docs/features/bcs-federated-apiserver/helm-chart/templates/4-statefulset.yaml
  docs/features/bcs-federated-apiserver/helm-chart/templates/5-apiservice.yaml
  docs/features/bcs-federated-apiserver/helm-chart/templates/_helpers.tpl
  docs/features/bcs-federated-apiserver/helm-chart/values.yaml
  docs/features/bcs-federated-apiserver/user-guide.md
  install/conf/bcs-k8s-master/bcs-federated-apiserver/Dockerfile
Labels: confirmed, feature, inner, k8s

#858 Feature: bcs-k8s-watch optimize lots of pod events distribution
  bcs-k8s/bcs-k8s-watch/app/app.go
  bcs-k8s/bcs-k8s-watch/app/options/options.go
  bcs-k8s/bcs-k8s-watch/app/output/writer.go
  bcs-k8s/bcs-k8s-watch/main.go
  docs/features/bcs-k8s-watch/img/bcs-watch架构.png
  docs/features/bcs-k8s-watch/img/bcswatch架构.png
  docs/features/bcs-k8s-watch/k8s-watch架构设计.md
  install/conf/bcs-k8s-master/bcs-k8s-watch/Dockerfile
  install/conf/bcs-k8s-master/bcs-k8s-watch/bcs-k8s-watch.json.template
  install/helm/bcs-k8s-watch/templates/deployment.yaml
  install/helm/bcs-k8s-watch/values.yaml
Labels: confirmed, feature, inner, k8s

#873 部分模块日志级别、日志标准错误输出可配置
  bcs-k8s/bcs-kube-agent/main.go
  install/conf/bcs-services/bcs-gateway-discovery/bcs-gateway-discovery.json.template
  install/conf/bcs-services/bcs-storage/bcs-storage.json.template
  install/conf/bcs-services/bcs-user-manager/bcs-user-manager.json.template
Labels: confirmed, feature, inner

#874 docs: update 1.20.11 release
  docs/version/1.20.x.md
  docs/version/README.md
Labels: confirmed, document, inner

#876 alsologtostderr 配置类型错误
  install/conf/bcs-services/bcs-storage/bcs-storage.json.template
  install/conf/bcs-services/bcs-user-manager/bcs-user-manager.json.template
Labels: bug, inner
