Repository TencentBlueKing/bk-bcs, pull requests merged in 2021-08, with the labels that each got.

#950 update source_compile.md doc
  docs/install/source_compile.md
Labels: confirmed, document

#964 fix: bcs-k8s-watch fix informer handler hang question by fifo queue; …
  bcs-k8s/bcs-k8s-watch/app/k8s/watcher.go
  bcs-k8s/bcs-k8s-watch/app/output/http/client.go
  bcs-k8s/bcs-k8s-watch/go.mod
  bcs-k8s/bcs-k8s-watch/pkg/metrics/metrics.go
  bcs-network/bcs-networkpolicy/controller/networkpolicy/controller.go
  bcs-services/bcs-cluster-manager/cidrmigrationtool/main.go
  bcs-services/bcs-cluster-manager/internal/app/app.go
  bcs-services/bcs-cluster-manager/internal/lock/etcd/etcd.go
Labels: inner, confirmed, k8s

#948 Fea mesos
  bcs-mesos/bcs-scheduler/src/manager/sched/scheduler/transaction.go
  bcs-mesos/bcs-scheduler/src/manager/sched/utils/utils.go
  bcs-mesos/bcs-scheduler/src/manager/store/zk/agent.go
  bcs-mesos/bcs-scheduler/src/manager/store/zk/application.go
  bcs-mesos/bcs-scheduler/src/manager/store/zk/dbzk.go
  bcs-mesos/bcs-scheduler/src/manager/store/zk/deployment.go
  bcs-mesos/bcs-scheduler/src/manager/store/zk/task.go
Labels: inner, confirmed, scheduler, mesos

#954 fix: fix nil pointer error when clbingress is invalid; issue #953
  bcs-services/bcs-clb-controller/pkg/processor/updater.go
Labels: inner, feature, network, k8s
