Repository TencentBlueKing/bk-bcs, pull requests merged in 2021-12, with the labels that each got.

#1005 Fix block
  bcs-runtime/bcs-k8s/bcs-component/bcs-gamedeployment-operator/pkg/controllers/gamedeployment/game_deployment.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-gamedeployment-operator/pkg/controllers/gamedeployment/game_deployment_control.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-gamedeployment-operator/pkg/scale/gamedeployment_scale.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-gamedeployment-operator/pkg/scale/gamedeployment_scale_util.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-gamedeployment-operator/pkg/test/test.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-gamestatefulset-operator/pkg/controllers/game_stateful_set.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-gamestatefulset-operator/pkg/controllers/game_stateful_set_control.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-gamestatefulset-operator/pkg/util/util.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-general-pod-autoscaler/go.mod
  bcs-runtime/bcs-k8s/bcs-component/bcs-general-pod-autoscaler/pkg/scaler/replica_calculator.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-general-pod-autoscaler/pkg/scaler/replica_calculator_test.go
  bcs-runtime/bcs-k8s/kubernetes/common/bcs-hook/predelete/predelete.go
  bcs-runtime/bcs-k8s/kubernetes/common/bcs-hook/preinplace/preinplace.go
Labels: k8s, bcs-runtime

#1067 feat(GameWorkload): support setting the number of workers
  bcs-runtime/bcs-k8s/bcs-component/bcs-gamedeployment-operator/cmd/gamedeployment-operator/main.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-gamedeployment-operator/pkg/controllers/gamedeployment/game_deployment.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-gamedeployment-operator/pkg/controllers/gamedeployment/game_deployment_control.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-gamedeployment-operator/pkg/scale/gamedeployment_scale.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-gamestatefulset-operator/cmd/gamestatefulset-operator/main.go
  install/conf/bcs-runtime/bcs-k8s/bcs-component/bcs-gamedeployment-operator/Dockerfile
  install/conf/bcs-runtime/bcs-k8s/bcs-component/bcs-gamestatefulset-operator/Dockerfile
Labels: enhancement, k8s, bcs-runtime

#1024 fix(bcs-cluster-autoscaler): fix DecreaseTargetSize
  bcs-runtime/bcs-k8s/bcs-component/bcs-cluster-autoscaler/cloudprovider/bcs/clustermanager/clustermanager.pb.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-cluster-autoscaler/cloudprovider/bcs/clustermanager/nodepool.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-cluster-autoscaler/cloudprovider/bcs/clustermanager/nodepool_test.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-cluster-autoscaler/cloudprovider/bcs/node_group.go
Labels: bug, bcs-runtime

#1016 feature(bcs-component): hook-operator deployed as daemonset
  bcs-runtime/bcs-k8s/bcs-component/bcs-gamedeployment-operator/pkg/controllers/gamedeployment/hook.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-gamestatefulset-operator/pkg/controllers/hook.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-hook-operator/cmd/hook-operator/main.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-hook-operator/pkg/controllers/hook/hook.go
  bcs-runtime/bcs-k8s/kubernetes/common/bcs-hook/postinplace/postinplace.go
  bcs-runtime/bcs-k8s/kubernetes/common/bcs-hook/predelete/predelete.go
  bcs-runtime/bcs-k8s/kubernetes/common/bcs-hook/preinplace/preinplace.go
  bcs-runtime/bcs-k8s/kubernetes/common/util/hook/hook.go
Labels: feature, k8s, bcs-runtime

#1029 改成可配置的方式聚合查询资源
  Makefile
  bcs-runtime/bcs-k8s/bcs-component/bcs-federated-apiserver/BUILD.bazel
  bcs-runtime/bcs-k8s/bcs-component/bcs-federated-apiserver/Dockerfile
  bcs-runtime/bcs-k8s/bcs-component/bcs-federated-apiserver/PROJECT
  bcs-runtime/bcs-k8s/bcs-component/bcs-federated-apiserver/WORKSPACE
  bcs-runtime/bcs-k8s/bcs-component/bcs-federated-apiserver/cmd/apiserver/app/app.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-federated-apiserver/cmd/apiserver/main.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-federated-apiserver/cmd/kubectl-agg/main.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-federated-apiserver/go.mod
  bcs-runtime/bcs-k8s/bcs-component/bcs-federated-apiserver/pkg/apis/aggregation/install/doc.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-federated-apiserver/pkg/apis/aggregation/install/install.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-federated-apiserver/pkg/apis/aggregation/install/zz_generated.api.register.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-federated-apiserver/pkg/apis/aggregation/podaggregation_rest.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-federated-apiserver/pkg/apis/aggregation/v1alpha1/defaults.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-federated-apiserver/pkg/apis/aggregation/v1alpha1/podaggregation_types.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-federated-apiserver/pkg/apis/aggregation/v1alpha1/register.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-federated-apiserver/pkg/apis/aggregation/v1alpha1/zz_generated.api.register.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-federated-apiserver/pkg/apis/aggregation/v1alpha1/zz_generated.conversion.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-federated-apiserver/pkg/apis/aggregation/v1alpha1/zz_generated.deepcopy.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-federated-apiserver/pkg/apis/aggregation/zz_generated.api.register.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-federated-apiserver/pkg/apis/aggregation/zz_generated.deepcopy.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-federated-apiserver/pkg/apis/zz_generated.api.register.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-federated-apiserver/pkg/apiserver/apiserver.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-federated-apiserver/pkg/apiserver/utils.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-federated-apiserver/pkg/client/clientset_generated/clientset/clientset.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-federated-apiserver/pkg/client/clientset_generated/clientset/doc.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-federated-apiserver/pkg/client/clientset_generated/clientset/fake/clientset_generated.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-federated-apiserver/pkg/client/clientset_generated/clientset/fake/doc.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-federated-apiserver/pkg/client/clientset_generated/clientset/fake/register.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-federated-apiserver/pkg/client/clientset_generated/clientset/scheme/register.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-federated-apiserver/pkg/client/clientset_generated/clientset/typed/aggregation/v1alpha1/aggregation_client.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-federated-apiserver/pkg/client/clientset_generated/clientset/typed/aggregation/v1alpha1/doc.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-federated-apiserver/pkg/client/clientset_generated/clientset/typed/aggregation/v1alpha1/fake/doc.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-federated-apiserver/pkg/client/clientset_generated/clientset/typed/aggregation/v1alpha1/fake/fake_podaggregation.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-federated-apiserver/pkg/client/clientset_generated/clientset/typed/aggregation/v1alpha1/generated_expansion.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-federated-apiserver/pkg/client/clientset_generated/clientset/typed/aggregation/v1alpha1/podaggregation.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-federated-apiserver/pkg/client/listers_generated/aggregation/v1alpha1/expansion_generated.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-federated-apiserver/pkg/client/listers_generated/aggregation/v1alpha1/podaggregation.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-federated-apiserver/pkg/config/config.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-federated-apiserver/pkg/configuration/cluster.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-federated-apiserver/pkg/configuration/configmap.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-federated-apiserver/pkg/configuration/storage.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-federated-apiserver/pkg/kubectl-agg/pod.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-federated-apiserver/pkg/kubectl-agg/utils.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-federated-apiserver/pkg/openapi/openapi_generated.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-federated-apiserver/pkg/options/options.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-federated-apiserver/pkg/storage/bcsstorage.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-federated-apiserver/pkg/template/rest.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-federated-apiserver/pkg/utils/utils.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-federated-apiserver/violations.report
  install/conf/bcs-runtime/bcs-k8s/bcs-component/bcs-federated-apiserver/Dockerfile
Labels: feature, k8s, bcs-runtime

#1017 add bcs-clusternet-controller
  Makefile
  bcs-runtime/bcs-k8s/bcs-component/bcs-clusternet-controller/cmd/clusternet-controller/main.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-clusternet-controller/go.mod
  bcs-runtime/bcs-k8s/bcs-component/bcs-clusternet-controller/pkg/controllers/manifest/manifest.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-clusternet-controller/pkg/util/const.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-clusternet-controller/pkg/util/string.go
  install/conf/bcs-runtime/bcs-k8s/bcs-component/bcs-clusternet-controller/Dockerfile
  install/conf/bcs-runtime/bcs-k8s/bcs-component/bcs-clusternet-controller/container-start.sh
Labels: bcs-runtime

#1081 fix:listenersIDs empty may delete all listeners
  bcs-runtime/bcs-k8s/bcs-network/bcs-ingress-controller/internal/cloud/interface.go
  bcs-runtime/bcs-k8s/bcs-network/bcs-ingress-controller/internal/cloud/tencentcloud/clb.go
  bcs-runtime/bcs-k8s/bcs-network/bcs-ingress-controller/internal/cloud/tencentcloud/helperbatch.go
  bcs-runtime/bcs-k8s/bcs-network/bcs-ingress-controller/internal/cloud/tencentcloud/sdk.go
  bcs-runtime/bcs-k8s/bcs-network/bcs-ingress-controller/portbindingcontroller/podfilter.go
  bcs-runtime/bcs-k8s/bcs-network/bcs-ingress-controller/portbindingcontroller/portbindingitem.go
Labels: bug, network, k8s, bcs-runtime

#1018 docs: 添加 cluster manager 代理，转发请求到cluster manager服务
  bcs-ui/backend/components/proxy.py
  bcs-ui/backend/container_service/clusters/mgr/__init__.py
  bcs-ui/backend/container_service/clusters/mgr/proxy/__init__.py
  bcs-ui/backend/container_service/clusters/mgr/proxy/urls.py
  bcs-ui/backend/container_service/clusters/mgr/proxy/views.py
  bcs-ui/backend/settings/base.py
  bcs-ui/backend/tests/components/test_proxy.py
  bcs-ui/backend/urls.py
Labels: bcs-ui

#1011 bcs-k8s-watch: 增加namespace隔离
  bcs-services/bcs-k8s-watch/app/app.go
  bcs-services/bcs-k8s-watch/app/k8s/manager.go
  bcs-services/bcs-k8s-watch/app/k8s/resources/default.go
  bcs-services/bcs-k8s-watch/app/k8s/synchronizer.go
  bcs-services/bcs-k8s-watch/app/k8s/watcher.go
  bcs-services/bcs-k8s-watch/app/options/options.go
  bcs-services/bcs-k8s-watch/go.mod
  install/conf/bcs-services/bcs-k8s-watch/Dockerfile
  install/conf/bcs-services/bcs-k8s-watch/bcs-k8s-watch.json.template
Labels: bcs-service

#1022 为hook-operator添加prom指标，增强可观测性
  bcs-runtime/bcs-k8s/bcs-component/bcs-hook-operator/pkg/controllers/hook/hook.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-hook-operator/pkg/controllers/hook/hook_reconcile.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-hook-operator/pkg/controllers/hook/hook_status.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-hook-operator/pkg/controllers/hook/metrics.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-hook-operator/pkg/providers/kube/kube.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-hook-operator/pkg/providers/kube/utils.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-hook-operator/pkg/providers/kube/utils_test.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-hook-operator/pkg/providers/prometheus/prometheus.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-hook-operator/pkg/providers/providers.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-hook-operator/pkg/providers/web/web.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-hook-operator/pkg/util/diff/diff.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-hook-operator/pkg/util/evaluate/evaluate.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-hook-operator/pkg/util/hook/hooks.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-hook-operator/pkg/util/hook/util.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-hook-operator/pkg/util/metric/metric.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-hook-operator/pkg/util/template/template.go
Labels: k8s, bcs-runtime

#1023 为gamedeployment-operator添加prom指标，增强可观测性
  bcs-runtime/bcs-k8s/bcs-component/bcs-gamedeployment-operator/pkg/controllers/gamedeployment/game_deployment.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-gamedeployment-operator/pkg/controllers/gamedeployment/game_deployment_control.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-gamedeployment-operator/pkg/controllers/gamedeployment/game_deployment_status_updater.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-gamedeployment-operator/pkg/metrics/metrics.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-gamedeployment-operator/pkg/scale/gamedeployment_scale.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-gamedeployment-operator/pkg/update/gamedeployment_update.go
  bcs-runtime/bcs-k8s/kubernetes/common/bcs-hook/predelete/predelete.go
  bcs-runtime/bcs-k8s/kubernetes/common/util/requeueduration/duration.go
Labels: k8s, bcs-runtime

#1053 为gamestatefulset-operator添加prom指标，增强可观测性
  bcs-runtime/bcs-k8s/bcs-component/bcs-gamestatefulset-operator/pkg/controllers/game_stateful_set.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-gamestatefulset-operator/pkg/controllers/game_stateful_set_control.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-gamestatefulset-operator/pkg/controllers/gamestatefulset_pod_control.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-gamestatefulset-operator/pkg/controllers/metrics.go
Labels: enhancement, k8s, bcs-runtime

#1073 为bcs-hook-operator添加grafana dashboard
  docs/features/prometheus/bcs-k8s/bcs-hook-operator的监测指标.md
  docs/features/prometheus/grafana/bcs-hook-operator.json
Labels: enhancement, k8s, bcs-runtime

#1105 为bcs-gamestatefulset-operator添加grafana dashboard
  docs/features/prometheus/bcs-k8s/bcs-gamestatefulset-operator的监测指标.md
  docs/features/prometheus/grafana/bcs-gamestatefulset-operator.json
Labels: enhancement, k8s, bcs-runtime

#1071 为bcs-gamedeployment-operator添加grafana dashboard
  docs/features/prometheus/bcs-k8s/bcs-gamedeployment-operator的监测指标.md
  docs/features/prometheus/grafana/bcs-gamedeployment-operator.json
Labels: enhancement, k8s, bcs-runtime

#1190 fix(bcs-gamestatefulset): fix newVersionedGameStatefulSetPod
  bcs-runtime/bcs-k8s/bcs-component/bcs-gamestatefulset-operator/pkg/controllers/game_stateful_set_utils.go
Labels: enhancement, k8s, bcs-runtime

#1178 test: Add gamestatefulset unit test
  .gitignore
  Makefile
  bcs-runtime/bcs-k8s/bcs-component/bcs-gamestatefulset-operator/pkg/apis/tkex/v1alpha1/doc.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-gamestatefulset-operator/pkg/clientset/internalclientset/typed/tkex/v1alpha1/fake/fake_gamestatefulset.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-gamestatefulset-operator/pkg/controllers/game_stateful_set_control_test.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-gamestatefulset-operator/pkg/controllers/game_stateful_set_status_updater_test.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-gamestatefulset-operator/pkg/controllers/game_stateful_set_test.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-gamestatefulset-operator/pkg/controllers/game_stateful_set_utils.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-gamestatefulset-operator/pkg/controllers/game_stateful_set_utils_test.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-gamestatefulset-operator/pkg/controllers/gamestatefulset_pod_control_test.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-gamestatefulset-operator/pkg/controllers/hook_test.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-gamestatefulset-operator/pkg/controllers/metrics.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-gamestatefulset-operator/pkg/testutil/test_utils.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-gamestatefulset-operator/pkg/util/canary/canary_test.go
  scripts/test.sh
Labels: enhancement, k8s, bcs-runtime

#1020 docs: 添加版本日志功能
  bcs-ui/backend/change_log/__init__.py
  bcs-ui/backend/change_log/change_log.py
  bcs-ui/backend/change_log/urls.py
  bcs-ui/backend/change_log/views.py
  bcs-ui/backend/settings/base.py
  bcs-ui/backend/tests/change_log/CHANGELOG/zh_CN/v1.0.0_2011-11-04.md
  bcs-ui/backend/tests/change_log/CHANGELOG/zh_CN/v1.0.1_2011-11-05.md
  bcs-ui/backend/tests/change_log/CHANGELOGTEST/zh_CN/v1.0.0_2011-11-04.json
  bcs-ui/backend/tests/change_log/__init__.py
  bcs-ui/backend/tests/change_log/test_change_log.py
  bcs-ui/backend/urls.py
Labels: bcs-ui

#1085 test: add gamedeployment unit test
  bcs-runtime/bcs-k8s/bcs-component/bcs-gamedeployment-operator/cmd/gamedeployment-operator/main.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-gamedeployment-operator/hack/generate-groups.sh
  bcs-runtime/bcs-k8s/bcs-component/bcs-gamedeployment-operator/hack/update-codegen.sh
  bcs-runtime/bcs-k8s/bcs-component/bcs-gamedeployment-operator/pkg/apis/tkex/v1alpha1/doc.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-gamedeployment-operator/pkg/apis/tkex/v1alpha1/zz_generated.deepcopy.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-gamedeployment-operator/pkg/client/clientset/versioned/clientset.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-gamedeployment-operator/pkg/client/clientset/versioned/fake/clientset_generated.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-gamedeployment-operator/pkg/client/clientset/versioned/typed/tkex/v1alpha1/fake/fake_gamedeployment.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-gamedeployment-operator/pkg/client/clientset/versioned/typed/tkex/v1alpha1/tkex_client.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-gamedeployment-operator/pkg/client/informers/externalversions/generic.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-gamedeployment-operator/pkg/controllers/gamedeployment/game_deployment.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-gamedeployment-operator/pkg/controllers/gamedeployment/game_deployment_control_test.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-gamedeployment-operator/pkg/controllers/gamedeployment/game_deployment_status_updater_test.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-gamedeployment-operator/pkg/controllers/gamedeployment/game_deployment_test.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-gamedeployment-operator/pkg/controllers/gamedeployment/hook_test.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-gamedeployment-operator/pkg/core/gamedeployment_core_test.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-gamedeployment-operator/pkg/metrics/metrics.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-gamedeployment-operator/pkg/revision/gamedeployment_revision.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-gamedeployment-operator/pkg/revision/gamedeployment_revision_test.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-gamedeployment-operator/pkg/scale/gamedeployment_scale_test.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-gamedeployment-operator/pkg/scale/gamedeployment_scale_util_test.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-gamedeployment-operator/pkg/test/test.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-gamedeployment-operator/pkg/update/gamedeployment_update_test.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-gamedeployment-operator/pkg/util/canary/canary_test.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-gamestatefulset-operator/pkg/controllers/game_stateful_set_control_test.go
Labels: enhancement, k8s, bcs-runtime
