Repository TencentBlueKing/bk-bcs, pull requests merged in 2021-02, with the labels that each got.

#755 feature: tunnel peers support tls; issue #738
  bcs-common/common/websocketDialer/client.go
  bcs-common/common/websocketDialer/dialer.go
  bcs-common/common/websocketDialer/message.go
  bcs-common/common/websocketDialer/peer.go
  bcs-common/common/websocketDialer/server.go
  bcs-common/common/websocketDialer/session.go
  bcs-common/common/websocketDialer/types.go
  bcs-k8s/bcs-k8s-custom-scheduler/go.mod
  bcs-services/bcs-netservice/api/ipinstance.go
  go.sum
Labels: confirmed, feature, inner, service

#757 Fix: adjust common msgqueue log printf; issue #756
  bcs-common/pkg/msgqueue/handler.go
  bcs-common/pkg/msgqueue/queue.go
Labels: confirmed, inner

#762 fix: increase timeout second for netservice client; issue #759
  bcs-network/go.mod
  bcs-network/qcloud-eip/eip/interface.go
  bcs-network/qcloud-eip/eip/netservice.go
Labels: confirmed, inner, service

#768 容器化流水线细节修正
  Makefile
  bcs-k8s/bcs-k8s-watch/Makefile
  bcs-mesos/bcs-mesos-driver/mesosdriver/filter/admission-webhook.go
  bcs-mesos/bcs-mesos-driver/mesosdriver/filter/filter.go
  bcs-mesos/bcs-mesos-driver/mesosdriver/filter/header-valid.go
  bcs-services/bcs-gateway-discovery/app/adapter.go
  bcs-services/bcs-gateway-discovery/plugins/apisix/bkbcs-auth/bkbcs.lua
  bcs-services/bcs-gateway-discovery/register/apisix/apisix.go
  bcs-services/bcs-gateway-discovery/register/types.go
  bcs-services/bcs-user-manager/app/user-manager/v1http/permission.go
  bcs-services/bcs-webhook-server/Makefile
  docs/features/bcs-api-gateway/api-gateway方案.md
  install/conf/bcs-k8s-master/bcs-k8s-watch/bcs-k8s-watch.json.template
  install/conf/bcs-services/bcs-cluster-manager/Dockerfile
  install/conf/bcs-services/bcs-cluster-manager/bcs-cluster-manager.json.template
  install/conf/bcs-services/bcs-cluster-manager/container-start.sh
  install/conf/bcs-services/bcs-gateway-discovery/Dockerfile.apisix
  install/conf/bcs-services/bcs-gateway-discovery/apisix-2.2-0.x86_64.rpm
Labels: confirmed, inner, service

#769 feature: add clustermanager sdk for gateway sidecar, issue #713
  .code.yml
  bcs-common/common/errorCode.go
  bcs-common/common/modules/modules.go
  bcs-common/common/pidfile.go
  bcs-common/common/types/serverInfo.go
  bcs-common/go.mod
  bcs-common/pkg/bcsapi/client.go
  bcs-common/pkg/bcsapi/clustermanager.go
  bcs-common/pkg/bcsapi/clustermanager/clustermanager.pb.go
Labels: confirmed, inner, service

#771 调整bcs-api & bcs-user-manager为独立子项目
  Makefile
  bcs-k8s/bcs-kube-agent/app/report.go
  bcs-k8s/bcs-kube-agent/go.mod
  bcs-services/bcs-api/go.mod
  bcs-services/bcs-client/go.mod
  bcs-services/bcs-cluster-manager/go.mod
  bcs-services/bcs-cluster-manager/internal/actions/clustercredential/update.go
  bcs-services/bcs-cluster-manager/internal/clusterops/clusterclient.go
  bcs-services/bcs-cluster-manager/internal/tunnel/tunnelserver.go
  bcs-services/bcs-cluster-manager/internal/types/types.go
  bcs-services/bcs-gateway-discovery/app/adapter.go
  bcs-services/bcs-gateway-discovery/app/micro.go
  bcs-services/bcs-gateway-discovery/app/server.go
  bcs-services/bcs-gateway-discovery/app/zookeeper.go
  bcs-services/bcs-gateway-discovery/discovery/interface.go
  bcs-services/bcs-gateway-discovery/discovery/micro.go
  bcs-services/bcs-gateway-discovery/go.mod
  bcs-services/bcs-user-manager/app/app.go
  bcs-services/bcs-user-manager/app/metrics/metrics.go
  bcs-services/bcs-user-manager/app/tunnel-handler/k8s/proxier.go
  bcs-services/bcs-user-manager/app/tunnel-handler/k8s/proxier_test.go
  bcs-services/bcs-user-manager/app/tunnel-handler/k8s/tunnel-dialer.go
  bcs-services/bcs-user-manager/app/tunnel-handler/k8s/tunnel-dialer_test.go
  bcs-services/bcs-user-manager/app/tunnel-handler/mesos/actions.go
  bcs-services/bcs-user-manager/app/tunnel-handler/mesos/mesos-action.go
  bcs-services/bcs-user-manager/app/tunnel-handler/mesos/mesos-action_test.go
  bcs-services/bcs-user-manager/app/tunnel-handler/mesos/tunnel-dialer.go
  bcs-services/bcs-user-manager/app/tunnel-handler/mesos/webconsole/http-proxy.go
  bcs-services/bcs-user-manager/app/tunnel-handler/mesos/webconsole/webconsole.go
  bcs-services/bcs-user-manager/app/tunnel-handler/mesos/webconsole/webconsole_test.go
  bcs-services/bcs-user-manager/app/tunnel-handler/mesos/webconsole/websocket-proxy.go
  bcs-services/bcs-user-manager/app/tunnel-handler/mesos/webconsole/websocket-proxy_test.go
  bcs-services/bcs-user-manager/app/tunnel/peermanager.go
  bcs-services/bcs-user-manager/app/tunnel/peermanager_test.go
  bcs-services/bcs-user-manager/app/tunnel/tunnel-server.go
  bcs-services/bcs-user-manager/app/tunnel/tunnel-server_test.go
  bcs-services/bcs-user-manager/app/user-manager/storages/sqlstore/old_credentials.go
  bcs-services/bcs-user-manager/app/user-manager/storages/sqlstore/user.go
  bcs-services/bcs-user-manager/app/user-manager/store.go
  bcs-services/bcs-user-manager/app/user-manager/user-manager.go
  bcs-services/bcs-user-manager/app/user-manager/v1http/credentials.go
  bcs-services/bcs-user-manager/app/user-manager/v1http/tke.go
  bcs-services/bcs-user-manager/app/utils/kube-api.go
  bcs-services/bcs-user-manager/app/utils/utils.go
  bcs-services/bcs-user-manager/go.mod
  go.mod
  go.sum
Labels: confirmed, inner, service

#773 feature: add mesos-watch template file; issue #738
  install/conf/bcs-mesos-master/bcs-mesos-watch/bcs-mesos-watch.json.template
Labels: confirmed, inner, service

#776 自动化测试问题修复
  bcs-common/pkg/bcsapi/clustermanager.go
  bcs-k8s/bcs-kube-agent/app/report.go
  bcs-k8s/bcs-kube-agent/app/websocket.go
  bcs-mesos/bcs-mesos-driver/mesosdriver/websocket.go
  bcs-services/bcs-cluster-manager/internal/actions/clustercredential/list.go
  bcs-services/bcs-cluster-manager/internal/actions/clustercredential/update.go
  bcs-services/bcs-cluster-manager/internal/tunnel/tunnelserver.go
  bcs-services/bcs-gateway-discovery/app/zookeeper.go
  bcs-services/bcs-gateway-discovery/go.mod
  bcs-services/bcs-gateway-discovery/plugins/apisix/bkbcs-auth/bkbcs.lua
Labels: bug, inner, service

#778 [feature] Hook operator add fast Successful Option
  bcs-k8s/bcs-gamestatefulset-operator/doc/helm/bcs-gamestatefulset-operator/templates/3-clusterrole.yaml
  bcs-k8s/bcs-hook-operator/pkg/controllers/hook/hook_reconcile.go
  bcs-k8s/bcs-hook-operator/pkg/util/hook/hooks.go
  bcs-k8s/kubernetes/common/bcs-hook/apis/tkex/v1alpha1/hook_types.go
  bcs-k8s/kubernetes/common/bcs-hook/apis/tkex/v1alpha1/zz_generated.deepcopy.go
Labels: confirmed, feature, inner, k8s

#779 gofmt文件格式整理
  bcs-common/pkg/bcsapi/clustermanager.go
  bcs-k8s/bcs-hook-operator/pkg/controllers/hook/hook_reconcile.go
  bcs-mesos/bcs-mesos-watch/app/watch.go
  bcs-mesos/bcs-mesos-watch/main.go
  bcs-services/bcs-cluster-manager/internal/utils/resourcequota_test.go
Labels: confirmed, document, inner

#783 bugfix: fix bmsf-configuration bscp empty strategy values bug. issue #782
  bmsf-configuration/internal/protocol/apiserver/Makefile
  bmsf-configuration/internal/protocol/authserver/Makefile
  bmsf-configuration/internal/protocol/bcs-controller/Makefile
  bmsf-configuration/internal/protocol/common/Makefile
  bmsf-configuration/internal/protocol/configserver/Makefile
  bmsf-configuration/internal/protocol/connserver/Makefile
  bmsf-configuration/internal/protocol/datamanager/Makefile
  bmsf-configuration/internal/protocol/gse-controller/Makefile
  bmsf-configuration/internal/protocol/sidecar/Makefile
  bmsf-configuration/internal/protocol/templateserver/Makefile
  bmsf-configuration/internal/protocol/tunnelserver/Makefile
  bmsf-configuration/internal/strategy/strategy.go
Labels: confirmed, inner, service

#785 fix: adapt kube-agent to tke; issue #784
  bcs-k8s/bcs-kube-agent/app/report.go
  bcs-k8s/bcs-kube-agent/go.mod
Labels: confirmed, feature, inner, k8s

#788 Fix: bcs-storage resolve log ouput for unSub resource; issue #787
  bcs-services/bcs-storage/storage/actions/v1http/dynamic/utils.go
  bcs-services/bcs-storage/storage/actions/v1http/events/utils.go
  bcs-services/bcs-storage/storage/apiserver/queueOptions.go
  bcs-services/bcs-storage/storage/apiserver/resource.go
Labels: bug, confirmed, inner, service

#790 fix: do not clean cluster credential when kube-agent is disconnected;…
  bcs-services/bcs-cluster-manager/internal/tunnel/tunnelserver.go
Labels: bug, confirmed, inner, service

#793 feature: db driver interface support aggregation query; issue #792
  bcs-common/pkg/esb/client/client.go
  bcs-common/pkg/esb/client/request.go
  bcs-common/pkg/odm/drivers/db.go
  bcs-common/pkg/odm/drivers/mongo/mongo.go
Labels: confirmed, feature, inner, service

#796 feature: bcs-cluster-manager supports cidr management interface; issu…
  bcs-services/bcs-cluster-manager/Makefile
  bcs-services/bcs-cluster-manager/cidrmigrationtool/main.go
  bcs-services/bcs-cluster-manager/go.mod
  bcs-services/bcs-cluster-manager/internal/app/app.go
  bcs-services/bcs-cluster-manager/internal/lock/etcd/etcd.go
  bcs-services/bcs-cluster-manager/internal/lock/lock.go
  bcs-services/bcs-cluster-manager/internal/store/store.go
  bcs-services/bcs-cluster-manager/internal/store/tke/tke.go
  bcs-services/bcs-cluster-manager/internal/tkehandler/tke.go
  bcs-services/bcs-cluster-manager/internal/tkehandler/util.go
  bcs-services/bcs-cluster-manager/internal/types/errors.go
  bcs-services/bcs-cluster-manager/internal/types/types.go
  docs/features/bcs-cluster-manager/cidr-migrate-tool.md
Labels: confirmed, feature, inner, service
