Repository TencentBlueKing/bk-bcs, pull requests merged in 2022-05, with the labels that each got.

#1717 fix(gpa): add defaults
  bcs-runtime/bcs-k8s/bcs-component/bcs-general-pod-autoscaler/Makefile
  bcs-runtime/bcs-k8s/bcs-component/bcs-general-pod-autoscaler/go.mod
  bcs-runtime/bcs-k8s/bcs-component/bcs-general-pod-autoscaler/hack/boilerplate.go.txt
  bcs-runtime/bcs-k8s/bcs-component/bcs-general-pod-autoscaler/hack/generate-groups.sh
  bcs-runtime/bcs-k8s/bcs-component/bcs-general-pod-autoscaler/hack/update-codegen.sh
  bcs-runtime/bcs-k8s/bcs-component/bcs-general-pod-autoscaler/pkg/apis/autoscaling/v1alpha1/defaults.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-general-pod-autoscaler/pkg/apis/autoscaling/v1alpha1/register.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-general-pod-autoscaler/pkg/apis/autoscaling/v1alpha1/types.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-general-pod-autoscaler/pkg/apis/autoscaling/v1alpha1/zz_generated.defaults.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-general-pod-autoscaler/pkg/scaler/general.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-general-pod-autoscaler/pkg/scalercore/cron.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-general-pod-autoscaler/pkg/scalercore/webhook.go
Labels: enhancement, inner, confirmed, bcs-runtime

#1737 fix: 修复 Mesos Scheduler 不能正常创建 AgentSetting 问题
  bcs-runtime/bcs-mesos/bcs-scheduler/src/manager/sched/offer/offerpool.go
  bcs-runtime/bcs-mesos/bcs-scheduler/src/manager/sched/scheduler/scheduler.go
Labels: bug, inner, confirmed, bcs-runtime, go

#1724 fix(gameworkload): fix post hook events
  bcs-runtime/bcs-k8s/bcs-component/bcs-gamedeployment-operator/pkg/update/gamedeployment_update.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-gamestatefulset-operator/pkg/controllers/game_stateful_set_control.go
Labels: bug, inner, confirmed, bcs-runtime, go

#1757 fix(gpa): fix desire replicas when all modes invaild
  bcs-runtime/bcs-k8s/bcs-component/bcs-general-pod-autoscaler/pkg/scaler/general.go
Labels: bug, inner, confirmed, bcs-runtime, go

#1362 feature(GameWorkload): avoid cascading deletion with admission webhook
  bcs-runtime/bcs-k8s/bcs-component/bcs-gamedeployment-operator/cmd/gamedeployment-operator/main.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-gamedeployment-operator/go.mod
  bcs-runtime/bcs-k8s/bcs-component/bcs-gamedeployment-operator/pkg/validation/convert.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-gamedeployment-operator/pkg/validation/crd_handler.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-gamedeployment-operator/pkg/validation/scheme.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-gamedeployment-operator/pkg/validation/validation.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-gamedeployment-operator/pkg/validation/workload_handler.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-gamestatefulset-operator/cmd/gamestatefulset-operator/main.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-gamestatefulset-operator/go.mod
  bcs-runtime/bcs-k8s/bcs-component/bcs-gamestatefulset-operator/pkg/validation/convert.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-gamestatefulset-operator/pkg/validation/crd_handler.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-gamestatefulset-operator/pkg/validation/scheme.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-gamestatefulset-operator/pkg/validation/validation.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-gamestatefulset-operator/pkg/validation/workload_handler.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-hook-operator/cmd/hook-operator/main.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-hook-operator/go.mod
  bcs-runtime/bcs-k8s/bcs-component/bcs-hook-operator/pkg/validation/convert.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-hook-operator/pkg/validation/crd_handler.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-hook-operator/pkg/validation/scheme.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-hook-operator/pkg/validation/validation.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-hook-operator/pkg/validation/workload_handler.go
  bcs-runtime/bcs-k8s/kubernetes/common/admission/convert.go
  bcs-runtime/bcs-k8s/kubernetes/common/admission/crd_handler.go
  bcs-runtime/bcs-k8s/kubernetes/common/admission/scheme.go
  bcs-runtime/bcs-k8s/kubernetes/common/admission/server.go
  bcs-runtime/bcs-k8s/kubernetes/common/admission/validation.go
  bcs-runtime/bcs-k8s/kubernetes/common/admission/workload_handler.go
  bcs-runtime/bcs-k8s/kubernetes/common/go.mod
  install/conf/bcs-runtime/bcs-k8s/bcs-component/bcs-hook-operator/Dockerfile
Labels: enhancement, inner, confirmed, bcs-runtime

#1625 test(ca): add tests
  bcs-runtime/bcs-k8s/bcs-component/bcs-cluster-autoscaler/cloudprovider/bcs/cache.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-cluster-autoscaler/cloudprovider/bcs/cache_test.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-cluster-autoscaler/cloudprovider/bcs/cloud_provider.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-cluster-autoscaler/cloudprovider/bcs/cloud_provider_test.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-cluster-autoscaler/cloudprovider/bcs/clustermanager/clustermanager.pb.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-cluster-autoscaler/cloudprovider/bcs/clustermanager/common.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-cluster-autoscaler/cloudprovider/bcs/clustermanager/common_test.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-cluster-autoscaler/cloudprovider/bcs/clustermanager/mocks/nodepool_mock.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-cluster-autoscaler/cloudprovider/bcs/clustermanager/nodepool_test.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-cluster-autoscaler/cloudprovider/bcs/node_group.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-cluster-autoscaler/cloudprovider/bcs/node_group_test.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-cluster-autoscaler/cloudprovider/bcs/util.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-cluster-autoscaler/cloudprovider/bcs/util_test.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-cluster-autoscaler/core/buffered_autoscaler_test.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-cluster-autoscaler/core/cron.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-cluster-autoscaler/core/cron_test.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-cluster-autoscaler/core/scale_down.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-cluster-autoscaler/core/scale_down_test.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-cluster-autoscaler/core/utils_test.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-cluster-autoscaler/go.mod
Labels: enhancement, confirmed, bcs-runtime, go

#1630 fix(ca): fix cron and sort
  bcs-runtime/bcs-k8s/bcs-component/bcs-cluster-autoscaler/cloudprovider/bcs/clustermanager/clustermanager.pb.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-cluster-autoscaler/cloudprovider/bcs/clustermanager/common.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-cluster-autoscaler/cloudprovider/bcs/clustermanager/nodepool.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-cluster-autoscaler/cloudprovider/bcs/node_group.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-cluster-autoscaler/core/cron.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-cluster-autoscaler/core/scale_down.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-cluster-autoscaler/core/scale_up.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-cluster-autoscaler/core/scale_up_test.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-cluster-autoscaler/go.mod
  bcs-runtime/bcs-k8s/bcs-component/bcs-cluster-autoscaler/main.go
Labels: enhancement, inner, confirmed, bcs-runtime, go

#1777 fix(gameworkload): fix go.mod
  bcs-runtime/bcs-k8s/bcs-component/bcs-gamedeployment-operator/go.mod
  bcs-runtime/bcs-k8s/bcs-component/bcs-gamestatefulset-operator/go.mod
  bcs-runtime/bcs-k8s/bcs-component/bcs-hook-operator/go.mod
Labels: inner, confirmed, bcs-runtime, go

#1784 fix: CA 加密机制改为可选项
  bcs-runtime/bcs-k8s/bcs-component/bcs-cluster-autoscaler/cloudprovider/bcs/util.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-cluster-autoscaler/cloudprovider/bcs/util_test.go
Labels: enhancement, inner, confirmed, bcs-runtime, go

#1738 [feature]datamanager增加cluster、namespace列表缓存
  bcs-services/bcs-data-manager/cmd/server.go
  bcs-services/bcs-data-manager/pkg/common/common.go
  bcs-services/bcs-data-manager/pkg/common/common_test.go
  bcs-services/bcs-data-manager/pkg/common/types.go
  bcs-services/bcs-data-manager/pkg/datajob/cluster.go
  bcs-services/bcs-data-manager/pkg/discovery/discovery_test.go
  bcs-services/bcs-data-manager/pkg/mock/mock_storage.go
  bcs-services/bcs-data-manager/pkg/store/cluster.go
  bcs-services/bcs-data-manager/pkg/store/namespace.go
  bcs-services/bcs-data-manager/pkg/store/workload.go
Labels: inner, feature, confirmed, bcs-service, go

#1818 feature: 补充data-manager模块ut
  bcs-services/bcs-data-manager/cmd/options.go
  bcs-services/bcs-data-manager/cmd/server.go
  bcs-services/bcs-data-manager/handler/bcs-data-manager_test.go
  bcs-services/bcs-data-manager/image/bcs-data-manager.json.template
  bcs-services/bcs-data-manager/main.go
  bcs-services/bcs-data-manager/main_test.go
  bcs-services/bcs-data-manager/pkg/bcsmonitor/client_test.go
  bcs-services/bcs-data-manager/pkg/client/cmd/get_test.go
  bcs-services/bcs-data-manager/pkg/client/cmd/list_test.go
  bcs-services/bcs-data-manager/pkg/cmanager/cmanager.go
  bcs-services/bcs-data-manager/pkg/common/common.go
  bcs-services/bcs-data-manager/pkg/common/common_test.go
  bcs-services/bcs-data-manager/pkg/datajob/cluster.go
  bcs-services/bcs-data-manager/pkg/datajob/cluster_test.go
  bcs-services/bcs-data-manager/pkg/datajob/datajob.go
  bcs-services/bcs-data-manager/pkg/datajob/namespace.go
  bcs-services/bcs-data-manager/pkg/datajob/namespace_test.go
  bcs-services/bcs-data-manager/pkg/datajob/policy.go
  bcs-services/bcs-data-manager/pkg/datajob/policy_test.go
  bcs-services/bcs-data-manager/pkg/datajob/project.go
  bcs-services/bcs-data-manager/pkg/datajob/project_test.go
  bcs-services/bcs-data-manager/pkg/datajob/public.go
  bcs-services/bcs-data-manager/pkg/datajob/public_test.go
  bcs-services/bcs-data-manager/pkg/datajob/utils.go
  bcs-services/bcs-data-manager/pkg/datajob/utils_test.go
  bcs-services/bcs-data-manager/pkg/datajob/workload.go
  bcs-services/bcs-data-manager/pkg/datajob/workload_test.go
  bcs-services/bcs-data-manager/pkg/metric/k8s.go
  bcs-services/bcs-data-manager/pkg/metric/mesos.go
  bcs-services/bcs-data-manager/pkg/metric/metric.go
  bcs-services/bcs-data-manager/pkg/metric/metric_test.go
  bcs-services/bcs-data-manager/pkg/metric/utils.go
  bcs-services/bcs-data-manager/pkg/mock/mock_cm.go
  bcs-services/bcs-data-manager/pkg/mock/mock_metric.go
  bcs-services/bcs-data-manager/pkg/mock/mock_queue.go
  bcs-services/bcs-data-manager/pkg/mock/mock_storage.go
  bcs-services/bcs-data-manager/pkg/mock/mock_store.go
  bcs-services/bcs-data-manager/pkg/store/cluster.go
  bcs-services/bcs-data-manager/pkg/store/cluster_test.go
  bcs-services/bcs-data-manager/pkg/store/namespace.go
  bcs-services/bcs-data-manager/pkg/store/namespace_test.go
  bcs-services/bcs-data-manager/pkg/store/project.go
  bcs-services/bcs-data-manager/pkg/store/project_test.go
  bcs-services/bcs-data-manager/pkg/store/public.go
  bcs-services/bcs-data-manager/pkg/store/public_test.go
  bcs-services/bcs-data-manager/pkg/store/store.go
  bcs-services/bcs-data-manager/pkg/store/utils.go
  bcs-services/bcs-data-manager/pkg/store/utils_test.go
  bcs-services/bcs-data-manager/pkg/store/workload.go
  bcs-services/bcs-data-manager/pkg/store/workload_test.go
  bcs-services/bcs-data-manager/pkg/types/types.go
  bcs-services/bcs-data-manager/pkg/utils/utils.go
  bcs-services/bcs-data-manager/pkg/utils/utils_test.go
  bcs-services/bcs-data-manager/pkg/worker/handler.go
  bcs-services/bcs-data-manager/pkg/worker/producer.go
  bcs-services/bcs-data-manager/pkg/worker/producer_test.go
  bcs-services/bcs-data-manager/pkg/worker/queue_test.go
Labels: inner, confirmed, bcs-service, go

#1838 [bugfix]修复统计day和hour时间维度时查询workload count为0问题
  bcs-services/bcs-data-manager/pkg/datajob/cluster.go
  bcs-services/bcs-data-manager/pkg/datajob/namespace.go
  bcs-services/bcs-data-manager/pkg/store/workload.go
Labels: bug, inner, confirmed, bcs-service, go

#1825 fix(gpa): fix limit caculation
  bcs-runtime/bcs-k8s/bcs-component/bcs-general-pod-autoscaler/pkg/scaler/general.go
Labels: bug, inner, confirmed, bcs-runtime, go

#1834 fix: 修复 Mesos 在创建新集群时不能正常写入 framework id #1833
  bcs-runtime/bcs-mesos/bcs-scheduler/src/manager/sched/scheduler/scheduler.go
  bcs-runtime/bcs-mesos/bcs-scheduler/src/pluginManager/plugin/dynamicPlugin/dynamicPlugin.go
Labels: bug, inner, bcs-runtime, go
