Repository TencentBlueKing/bk-bcs, pull requests merged in 2022-04, with the labels that each got.

#1598 fix: argocd-manager code generate no need to work in fixed path
  bcs-services/bcs-argocd-manager/README.md
  bcs-services/bcs-argocd-manager/bcs-argocd-controller/controllers/argocdinstance/argocdinstance_controller.go
  bcs-services/bcs-argocd-manager/bcs-argocd-server/internal/proxy/http.go
  bcs-services/bcs-argocd-manager/bcs-argocd-server/internal/utils/utils.go
  bcs-services/bcs-argocd-manager/hack/generate-proto.sh
  bcs-services/bcs-argocd-manager/hack/install-tools.sh
  bcs-services/bcs-argocd-manager/hack/update-codegen.sh
  bcs-services/bcs-argocd-manager/pkg/apis/tkex/v1alpha1/generated.pb.go
  bcs-services/bcs-argocd-manager/pkg/apis/tkex/v1alpha1/generated.proto
  bcs-services/bcs-argocd-manager/pkg/apis/tkex/v1alpha1/zz_generated.deepcopy.go
  bcs-services/bcs-argocd-manager/pkg/client/clientset/versioned/clientset.go
  bcs-services/bcs-argocd-manager/pkg/client/clientset/versioned/doc.go
  bcs-services/bcs-argocd-manager/pkg/client/clientset/versioned/fake/clientset_generated.go
  bcs-services/bcs-argocd-manager/pkg/client/clientset/versioned/fake/doc.go
  bcs-services/bcs-argocd-manager/pkg/client/clientset/versioned/fake/register.go
  bcs-services/bcs-argocd-manager/pkg/client/clientset/versioned/scheme/doc.go
  bcs-services/bcs-argocd-manager/pkg/client/clientset/versioned/scheme/register.go
  bcs-services/bcs-argocd-manager/pkg/client/clientset/versioned/typed/tkex/v1alpha1/argocdinstance.go
  bcs-services/bcs-argocd-manager/pkg/client/clientset/versioned/typed/tkex/v1alpha1/argocdplugin.go
  bcs-services/bcs-argocd-manager/pkg/client/clientset/versioned/typed/tkex/v1alpha1/argocdproject.go
  bcs-services/bcs-argocd-manager/pkg/client/clientset/versioned/typed/tkex/v1alpha1/doc.go
  bcs-services/bcs-argocd-manager/pkg/client/clientset/versioned/typed/tkex/v1alpha1/fake/doc.go
  bcs-services/bcs-argocd-manager/pkg/client/clientset/versioned/typed/tkex/v1alpha1/fake/fake_argocdinstance.go
  bcs-services/bcs-argocd-manager/pkg/client/clientset/versioned/typed/tkex/v1alpha1/fake/fake_argocdplugin.go
  bcs-services/bcs-argocd-manager/pkg/client/clientset/versioned/typed/tkex/v1alpha1/fake/fake_argocdproject.go
  bcs-services/bcs-argocd-manager/pkg/client/clientset/versioned/typed/tkex/v1alpha1/fake/fake_tkex_client.go
  bcs-services/bcs-argocd-manager/pkg/client/clientset/versioned/typed/tkex/v1alpha1/generated_expansion.go
  bcs-services/bcs-argocd-manager/pkg/client/clientset/versioned/typed/tkex/v1alpha1/tkex_client.go
  bcs-services/bcs-argocd-manager/pkg/client/informers/externalversions/factory.go
  bcs-services/bcs-argocd-manager/pkg/client/informers/externalversions/generic.go
  bcs-services/bcs-argocd-manager/pkg/client/informers/externalversions/internalinterfaces/factory_interfaces.go
  bcs-services/bcs-argocd-manager/pkg/client/informers/externalversions/tkex/interface.go
  bcs-services/bcs-argocd-manager/pkg/client/informers/externalversions/tkex/v1alpha1/argocdinstance.go
  bcs-services/bcs-argocd-manager/pkg/client/informers/externalversions/tkex/v1alpha1/argocdplugin.go
  bcs-services/bcs-argocd-manager/pkg/client/informers/externalversions/tkex/v1alpha1/argocdproject.go
  bcs-services/bcs-argocd-manager/pkg/client/informers/externalversions/tkex/v1alpha1/interface.go
  bcs-services/bcs-argocd-manager/pkg/client/listers/tkex/v1alpha1/argocdinstance.go
  bcs-services/bcs-argocd-manager/pkg/client/listers/tkex/v1alpha1/argocdplugin.go
  bcs-services/bcs-argocd-manager/pkg/client/listers/tkex/v1alpha1/argocdproject.go
  bcs-services/bcs-argocd-manager/pkg/client/listers/tkex/v1alpha1/expansion_generated.go
  bcs-services/bcs-argocd-manager/pkg/sdk/instance/instance.pb.go
  bcs-services/bcs-argocd-manager/pkg/sdk/instance/instance.pb.gw.go
  bcs-services/bcs-argocd-manager/pkg/sdk/instance/instance.pb.micro.go
  bcs-services/bcs-argocd-manager/pkg/sdk/instance/instance.proto
  bcs-services/bcs-argocd-manager/pkg/sdk/instance/instance.swagger.json
  bcs-services/bcs-argocd-manager/pkg/sdk/plugin/plugin.pb.go
  bcs-services/bcs-argocd-manager/pkg/sdk/plugin/plugin.pb.gw.go
  bcs-services/bcs-argocd-manager/pkg/sdk/plugin/plugin.pb.micro.go
  bcs-services/bcs-argocd-manager/pkg/sdk/plugin/plugin.proto
  bcs-services/bcs-argocd-manager/pkg/sdk/plugin/plugin.swagger.json
  bcs-services/bcs-argocd-manager/pkg/sdk/project/project.pb.go
  bcs-services/bcs-argocd-manager/pkg/sdk/project/project.pb.gw.go
  bcs-services/bcs-argocd-manager/pkg/sdk/project/project.pb.micro.go
  bcs-services/bcs-argocd-manager/pkg/sdk/project/project.proto
  bcs-services/bcs-argocd-manager/pkg/sdk/project/project.swagger.json
  bcs-services/bcs-argocd-manager/plugins/proto/plugin-service.pb.go
Labels: enhancement, inner, confirmed, bcs-service

#1605 feature: update clustermanager pb #1604
  bcs-common/pkg/bcsapi/clustermanager/clustermanager.pb.go
Labels: enhancement, inner, confirmed, bcs-service

#1468 featrue(gameworkload): add hook ordered policy
  bcs-runtime/bcs-k8s/bcs-component/bcs-gamedeployment-operator/go.mod
  bcs-runtime/bcs-k8s/bcs-component/bcs-gamestatefulset-operator/go.mod
  bcs-runtime/bcs-k8s/bcs-component/bcs-hook-operator/go.mod
  bcs-runtime/bcs-k8s/bcs-component/bcs-hook-operator/pkg/controllers/hook/hook.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-hook-operator/pkg/controllers/hook/hook_reconcile.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-hook-operator/pkg/controllers/hook/hook_reconcile_test.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-hook-operator/pkg/controllers/hook/hook_test.go
Labels: enhancement, inner, confirmed, bcs-runtime, go

#1502 fix(inplace): only change readiness gate condition when inplace update
  bcs-runtime/bcs-k8s/kubernetes/common/update/inplaceupdate/inplace_update.go
Labels: enhancement, inner, confirmed, bcs-runtime, go

#1573 fix(gpa): fix cron mode and return values
  bcs-runtime/bcs-k8s/bcs-component/bcs-general-pod-autoscaler/go.mod
  bcs-runtime/bcs-k8s/bcs-component/bcs-general-pod-autoscaler/pkg/apis/autoscaling/v1alpha1/types.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-general-pod-autoscaler/pkg/scaler/general.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-general-pod-autoscaler/pkg/scaler/general_test.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-general-pod-autoscaler/pkg/scalercore/cron.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-general-pod-autoscaler/pkg/scalercore/cron_test.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-general-pod-autoscaler/pkg/scalercore/webhook.go
Labels: bug, inner, confirmed, bcs-runtime, go

#1623 fix(ca): fix bugs
  .code.yml
  bcs-runtime/bcs-k8s/bcs-component/bcs-cluster-autoscaler/Makefile
  bcs-runtime/bcs-k8s/bcs-component/bcs-cluster-autoscaler/cloudprovider/bcs/clustermanager/clustermanager.pb.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-cluster-autoscaler/cloudprovider/bcs/node_group.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-cluster-autoscaler/cloudprovider/bcs/util.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-cluster-autoscaler/core/scale_down.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-cluster-autoscaler/core/scale_up_test.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-cluster-autoscaler/core/utils.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-cluster-autoscaler/go.mod
Labels: enhancement, inner, confirmed, bcs-runtime, go
