Repository TencentBlueKing/bk-bcs, pull requests merged in 2022-06, with the labels that each got.

#1856 perf: 新增producer并发配置参数
  bcs-services/bcs-data-manager/cmd/options.go
  bcs-services/bcs-data-manager/cmd/server.go
  bcs-services/bcs-data-manager/image/bcs-data-manager.json.template
  bcs-services/bcs-data-manager/pkg/utils/utils.go
  bcs-services/bcs-data-manager/pkg/worker/producer.go
  install/conf/bcs-services/bcs-data-manager/bcs-data-manager.json.template
Labels: enhancement, inner, confirmed, bcs-service, go

#1863 refactor: kubectl-bcs-data-manager改成grpc访问data manager
  bcs-services/bcs-data-manager/pkg/client/cmd/get.go
  bcs-services/bcs-data-manager/pkg/client/cmd/list.go
  bcs-services/bcs-data-manager/pkg/client/pkg/client.go
Labels: enhancement, inner, confirmed, bcs-service, go

#1884 bugfix: promql查询条件优化
  bcs-services/bcs-data-manager/pkg/metric/utils.go
Labels: bug, inner, confirmed, bcs-service, go

#1809 fix: fix kourse Makefile
  bcs-scenarios/kourse/Makefile
  bcs-scenarios/kourse/manifests/tkex.tencent.com_gamedeployments.yaml
  bcs-scenarios/kourse/manifests/tkex.tencent.com_gamestatefulsets.yaml
  bcs-scenarios/kourse/manifests/tkex.tencent.com_hookruns.yaml
  bcs-scenarios/kourse/manifests/tkex.tencent.com_hooktemplates.yaml
Labels: inner, confirmed, bcs-runtime
