Repository TencentBlueKing/bk-bcs, pull requests merged in 2022-01, with the labels that each got.

#1239 refactor: clsuterResouces options -> configs
  bcs-services/cluster-resources/Readme.md
  bcs-services/cluster-resources/cmd/cr.go
  bcs-services/cluster-resources/cmd/init.go
  bcs-services/cluster-resources/conf.yaml
  bcs-services/cluster-resources/pkg/common/constants.go
  bcs-services/cluster-resources/pkg/config/config.go
  bcs-services/cluster-resources/pkg/config/config_test.go
Labels: cluster-resources

#1169 upgrade GameWorkload version
  bcs-runtime/bcs-k8s/bcs-component/bcs-gamedeployment-operator/cmd/gamedeployment-operator/main.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-gamedeployment-operator/go.mod
  bcs-runtime/bcs-k8s/bcs-component/bcs-gamedeployment-operator/pkg/client/clientset/versioned/typed/tkex/v1alpha1/gamedeployment.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-gamedeployment-operator/pkg/client/clientset/versioned/typed/tkex/v1alpha1/tkex_client.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-gamedeployment-operator/pkg/client/informers/externalversions/tkex/v1alpha1/gamedeployment.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-gamedeployment-operator/pkg/controllers/gamedeployment/game_deployment.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-gamedeployment-operator/pkg/controllers/gamedeployment/game_deployment_control.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-gamedeployment-operator/pkg/controllers/gamedeployment/game_deployment_status_updater.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-gamedeployment-operator/pkg/controllers/gamedeployment/hook.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-gamedeployment-operator/pkg/scale/gamedeployment_scale.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-gamedeployment-operator/pkg/update/gamedeployment_update.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-gamestatefulset-operator/cmd/gamestatefulset-operator/main.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-gamestatefulset-operator/go.mod
  bcs-runtime/bcs-k8s/bcs-component/bcs-gamestatefulset-operator/pkg/clientset/internalclientset/typed/tkex/v1alpha1/gamestatefulset.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-gamestatefulset-operator/pkg/clientset/internalclientset/typed/tkex/v1alpha1/tkex_client.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-gamestatefulset-operator/pkg/controllers/game_stateful_set.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-gamestatefulset-operator/pkg/controllers/game_stateful_set_control.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-gamestatefulset-operator/pkg/controllers/game_stateful_set_status_updater.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-gamestatefulset-operator/pkg/controllers/gamestatefulset_pod_control.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-gamestatefulset-operator/pkg/controllers/hook.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-gamestatefulset-operator/pkg/informers/tkex/v1alpha1/gamestatefulset.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-hook-operator/cmd/hook-operator/main.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-hook-operator/go.mod
  bcs-runtime/bcs-k8s/bcs-component/bcs-hook-operator/pkg/controllers/hook/hook.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-hook-operator/pkg/controllers/hook/hook_status.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-hook-operator/pkg/providers/kube/kube.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-hook-operator/pkg/providers/kube/utils.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-hook-operator/pkg/providers/prometheus/prometheus.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-hook-operator/pkg/util/hook/hooks.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-webhook-server/go.mod
  bcs-runtime/bcs-k8s/kubernetes/common/bcs-hook/client/clientset/versioned/typed/tkex/v1alpha1/hookrun.go
  bcs-runtime/bcs-k8s/kubernetes/common/bcs-hook/client/clientset/versioned/typed/tkex/v1alpha1/hooktemplate.go
  bcs-runtime/bcs-k8s/kubernetes/common/bcs-hook/client/clientset/versioned/typed/tkex/v1alpha1/tkex_client.go
  bcs-runtime/bcs-k8s/kubernetes/common/bcs-hook/client/informers/externalversions/tkex/v1alpha1/hookrun.go
  bcs-runtime/bcs-k8s/kubernetes/common/bcs-hook/client/informers/externalversions/tkex/v1alpha1/hooktemplate.go
  bcs-runtime/bcs-k8s/kubernetes/common/bcs-hook/postinplace/postinplace.go
  bcs-runtime/bcs-k8s/kubernetes/common/bcs-hook/predelete/predelete.go
  bcs-runtime/bcs-k8s/kubernetes/common/bcs-hook/preinplace/preinplace.go
  bcs-runtime/bcs-k8s/kubernetes/common/go.mod
  bcs-runtime/bcs-k8s/kubernetes/common/metrics/restclient/metrics.go
  bcs-runtime/bcs-k8s/kubernetes/common/metrics/workqueue/metrics.go
  bcs-runtime/bcs-k8s/kubernetes/common/update/adapter.go
  bcs-runtime/bcs-k8s/kubernetes/common/util/hook/hook.go
Labels: enhancement, k8s, bcs-runtime

#1204 feature: bcs-kube-agent support ready status metric
  bcs-services/bcs-kube-agent/app/agent.go
  bcs-services/bcs-kube-agent/app/metrics.go
  bcs-services/bcs-kube-agent/app/report.go
  bcs-services/bcs-kube-agent/app/websocket.go
Labels: enhancement, bcs-service

#1278 refactor(GameWorkload): get object info from cache
  bcs-runtime/bcs-k8s/bcs-component/bcs-gamedeployment-operator/pkg/controllers/gamedeployment/game_deployment.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-gamestatefulset-operator/pkg/controllers/game_stateful_set.go
Labels: enhancement, k8s, bcs-runtime

#1277 feature(gameworkload): expose version info via prometheus
  bcs-runtime/bcs-k8s/bcs-component/bcs-gamedeployment-operator/cmd/gamedeployment-operator/main.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-gamedeployment-operator/go.mod
  bcs-runtime/bcs-k8s/bcs-component/bcs-gamedeployment-operator/pkg/controllers/gamedeployment/game_deployment.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-gamedeployment-operator/pkg/metrics/metrics.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-gamestatefulset-operator/cmd/gamestatefulset-operator/main.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-gamestatefulset-operator/go.mod
  bcs-runtime/bcs-k8s/bcs-component/bcs-gamestatefulset-operator/pkg/controllers/game_stateful_set.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-gamestatefulset-operator/pkg/controllers/metrics.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-hook-operator/cmd/hook-operator/main.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-hook-operator/go.mod
  bcs-runtime/bcs-k8s/bcs-component/bcs-hook-operator/pkg/controllers/hook/hook.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-hook-operator/pkg/controllers/hook/metrics.go
Labels: enhancement, k8s, bcs-runtime

#1295 feature(gamedeployment): consider node cost when scale down pods
  bcs-runtime/bcs-k8s/bcs-component/bcs-gamedeployment-operator/cmd/gamedeployment-operator/main.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-gamedeployment-operator/pkg/controllers/gamedeployment/game_deployment.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-gamedeployment-operator/pkg/scale/gamedeployment_scale.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-gamedeployment-operator/pkg/scale/gamedeployment_scale_test.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-gamedeployment-operator/pkg/scale/gamedeployment_scale_util.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-gamedeployment-operator/pkg/scale/gamedeployment_scale_util_test.go
Labels: feature, k8s, bcs-runtime

#1265 add: optimize metrics, increase cache and reduce latency
  bcs-runtime/bcs-k8s/bcs-network/bcs-ingress-controller/internal/cloudcollector/cloudcollector.go
  bcs-runtime/bcs-k8s/bcs-network/bcs-ingress-controller/internal/cloudcollector/statuscache.go
  bcs-runtime/bcs-k8s/bcs-network/bcs-ingress-controller/main.go
Labels: enhancement, k8s, bcs-runtime

#1165 feature: add annotation blocker plugin to bcs-webhook-server; issue #…
  bcs-runtime/bcs-k8s/bcs-component/bcs-webhook-server/internal/plugin/blockannotation/blockannotation.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-webhook-server/internal/plugin/blockannotation/conf.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-webhook-server/internal/plugin/blockannotation/expr.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-webhook-server/internal/plugin/blockannotation/expr_test.go
  bcs-runtime/bcs-k8s/bcs-component/bcs-webhook-server/internal/server/init.go
Labels: k8s, bcs-runtime

#1205 bcs-api-gateway apisix更新及bcs-gateway-discovery优化
  bcs-services/bcs-gateway-discovery/app/adapter.go
  bcs-services/bcs-gateway-discovery/app/options.go
  bcs-services/bcs-gateway-discovery/app/server.go
  bcs-services/bcs-gateway-discovery/app/zookeeper.go
  bcs-services/bcs-gateway-discovery/plugins/apisix/bkbcs-auth.lua
  bcs-services/bcs-gateway-discovery/plugins/apisix/bkbcs-auth/bkbcs.lua
  bcs-services/bcs-gateway-discovery/register/apisix/admin/api.go
  bcs-services/bcs-gateway-discovery/register/apisix/admin/client.go
  bcs-services/bcs-gateway-discovery/register/apisix/admin/types.go
  bcs-services/bcs-gateway-discovery/register/apisix/apisix.go
  bcs-services/bcs-gateway-discovery/register/kong/kong.go
  bcs-services/bcs-gateway-discovery/utils/cache.go
  bcs-services/bcs-gateway-discovery/utils/utils.go
  install/conf/bcs-services/bcs-gateway-discovery/Dockerfile.apisix
  install/conf/bcs-services/bcs-gateway-discovery/apisix-2.1-0.el7.noarch.rpm
  install/conf/bcs-services/bcs-gateway-discovery/apisix-2.2-0.x86_64.rpm
  install/conf/bcs-services/bcs-gateway-discovery/apisix-start.sh
  install/conf/bcs-services/bcs-gateway-discovery/bcs-gateway-discovery.json.template
  install/conf/bcs-services/bcs-gateway-discovery/config.yaml.template
Labels: bug, enhancement, bcs-service
